/*
Error: Invalid CSS after "": expected selector, was "<<<<<<< HEAD"
        on line 102 of _sass/modules/_m-controls.scss
        from line 38 of _sass/main.scss

Backtrace:
_sass/modules/_m-controls.scss:102
_sass/main.scss:38
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:1161:in `expected'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:1097:in `expected'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/scss/parser.rb:1077:in `expr!'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/scss/static_parser.rb:20:in `parse_selector'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:425:in `visit_rule'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/stack.rb:79:in `with_base'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:431:in `map'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/stack.rb:79:in `with_base'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:326:in `block (2 levels) in visit_import'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:326:in `map'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/stack.rb:88:in `block in with_import'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/stack.rb:88:in `with_import'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/stack.rb:79:in `with_base'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:157:in `visit'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/tree/root_node.rb:20:in `render'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/engine.rb:278:in `render'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:420:in `run'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:63:in `process_result'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/exec/base.rb:52:in `parse'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/lib/sass/exec/base.rb:19:in `parse!'
/usr/local/var/rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/sass-3.4.19/bin/sass:13:in `<top (required)>'
/usr/local/var/rbenv/versions/2.2.2/bin/sass:23:in `load'
/usr/local/var/rbenv/versions/2.2.2/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"\": expected selector, was \"<<<<<<< HEAD\"\A         on line 102 of _sass/modules/_m-controls.scss\A         from line 38 of _sass/main.scss"; }
