<div class="l-banner">
  <div class="wrap">
    <h3 class="c-section-title -light -highlighted">Compare Countries</h3>
  </div>
</div>

<table>
  <thead class="js--comparison-header">
  </thead>

  <tbody class="js--comparison-indicators">
  </tbody>
</table>
