<div class="l-banner -section-2 promoInteriores-CompareCountries">
  <div class="wrap">
    {{!-- <div class="m-breadcrumbs">
      <ul>
        <li><a href="/">home </a></li>
        <li><span> / </span></li>
        <li> compare </li>
      </ul>
    </div> --}}

    <h1 class="c-section-title -light">Compare countries</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ornare ligula in elementum auctor. Pellentesque interdum, est id facilisis tristique, elit ante hendrerit nisi, id interdum massa dolor a lacus.</p>
  </div>
</div>

<div class="js--compare-selectors"></div>

<div class="l-content -fullscreen">
  <div class="wrap">
    <div class="m-comparison-table">
      <div class="js--comparison-indicators -index"></div>
      <div class="js--country-1 -score"></div>
      <div class="js--country-2 -score"></div>
      <div class="js--country-3 -score"></div>
      </div>
    </div>
  </div>
</div>

<div class="l-highlight">
  <div class="wrap">  
    <div class="m-presentation -light">
      <h2 class="c-title">
        The goverment Data Alliance
      </h2>
      <p>
        Is a group of governance data producers, users, and funders that convened to enhance the availability, quality, and use of governance data. The Alliance, launched in Q2 2015, will facilitate coordination and knowledge-sharing among governance data producers, collect and analyze data to enhance our understanding of target governance data users’ needs.
      </p>
      <a href="#" class="btn -white">find out more</a>  
    </div>
  </div>
</div>

<div class="l-content -main">
  <div class="wrap">
    <h3 class="c-section-title -small">
      objectives
    </h3>
    <p>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
    </p>
    <div class="m-objectives-list">
      <ul>
        <li>
          <svg class="icon">
            <use xlink:href="#icon-check"></use>
          </svg>
          <span>Availability</span>
        </li>
        <li>
          <svg class="icon">
            <use xlink:href="#icon-check"></use>
          </svg>
          <span>Quality</span>
        </li>
        <li>
          <svg class="icon">
            <use xlink:href="#icon-check"></use>
          </svg>
          <span>Understanding</span>
        </li>
      </ul>
      <a href="#" class="btn -secondary">know about the alliance</a>
    </div>
  </div>
</div>