<div class="l-banner">
  <div class="wrap">
    <h3 class="c-section-title -light -highlighted">Compare Countries</h3>
  </div>
</div>

<div class="l-toolbar">
  <div class="js--compare-selectors"></div>
</div>

<div class="l-content">
  <div class="wrap -table">
    <table class="c-table -comparison">
      <thead class="js--comparison-header">
      </thead>

      <tbody class="js--comparison-indicators">
      </tbody>
    </table>
  </div>
</div>
