<div class="l-banner">
  <div class="wrap">
    <h3 class="c-section-title -light -highlighted">Compare Countries</h3>
  </div>
</div>

<div class="l-toolbar">
  <div class="js--compare-selectors"></div>
</div>

<div class="l-content">
  <div class="wrap -table">
    <div class="m-comparison-table">
      <div class="js--comparison-indicators table-column"></div>
      <div class="js--country-1 table-column"></div>
      <div class="js--country-2 table-column"></div>
      <div class="js--country-3 table-column"></div>
      </div>
    </div>
  </div>
</div>
