<div class="l-banner -section-1 promoInteriores-Countries">
  <div class="m-breadcrumbs -light">
    <ul>
      <li><a href="/">home </a></li>
      <li><span> / </span></li>
      <li>countries</li>
    </ul>
  </div>

  <div class="wrap">
    <h3 class="c-title -medium">Countries</h3>
    <div class="m-search js--search" id="searchBox">
    </div>
  </div>
</div>

<div class="js--countries-list"></div>

<div class="l-content">
  <div class="wrap">
    <h3 class="c-section-title -small">compare with other countries</h3>
    <p>Use our Country Comparison tool to view multiple countries' governance data side by side.</p>

    <a href="compare" class="btn -secondary">compare country data</a>
  </div>
</div>


