<div class="l-banner -detail">
  <div class="wrap">
    <div class="js--country-header"></div>
  </div>
</div>

<div class="l-toolbar">
  <div class="js--country-toolbar"></div>
</div>

<div class="l-content">
  <div class="wrap">
    <div class="js--indicators"></div>
  </div>
</div>