<div class="js--country-header"></div>

<div class="js--country-toolbar">
  <div class="l-toolbar">
    <div class="wrap">
      <div class="js--toolbar-utils"></div>
      <div class="js--toolbar-display"></div>
    </div>
  </div>
</div>

<div class="js--indicators"></div>

<div class="l-toolbar -footer">
  <div class="wrap">
    <div class="m-legend">
      <ul>
        <li class="-best"><span class="legend-title">The best</span></li>
        <li class="-good"><span class="legend-title">Good</span></li>
        <li class="-medium"><span class="legend-title">Medium</span></li>
        <li class="-regular"><span class="legend-title">Regular</span></li>
        <li class="-bad"><span class="legend-title">Bad</span></li>
      </ul>
    </div>
    <div class="js--toolbar-utils"></div>
  </div>
</div>

