<div class="l-toolbar">
  <div class="wrap">
    <div class="m-controls">
      <button class="js--download">download data</button>
      <span> | </span>
      <a href="/countries#compare?countries[]={{iso}}">compare with other countries</a>
    </div>
    <div class="m-controls">
      <button class="js--btn btn-layout-dashboard">Dashboard</button>
      <button class="js--btn btn-layout-list is-active">List</button>
    </div>
  </div>
</div>