<div class="l-banner -detail">
  <div class="wrap">
    <div class="js--country-header"></div>
    <a href="#" class="js--download">Download</a>
  </div>
</div>
<div class="l-content">
  <div class="js--indicators"></div>
</div>