<div class="l-banner -detail -country -row">
  <div class="m-breadcrumbs">
    <ul>
      <li><a href="/">home </a></li>
      <li><span> / </span></li>
      <li><a href="{{siteURL}}/countries"> countries </a></li>
      <li><span> / </span></li>
      <li> {{name}}</li>
    </ul>
  </div>

  <div class="c-share-shortcut">
    <button class="js--view-share btn">
      <svg class="icon -regular">
        <use xlink:href="#icon-share"></use>
      </svg>
      <span class="button-literal">share</span>
    </button>
  </div>

  <div class="wrap">
    <div class="title-container">
      <h1 class="c-section-title -country-name">{{name}}</h1>
      <div class="c-switcher--wrapper">
        <span class="c-switcher--label">hide not covered</span>
        <div class="c-switcher">
          <input id="notCoveredSwitcher" type="checkbox">
          <label for="notCoveredSwitcher"></label>
        </div>
      </div>
    </div>
    <div class="js--country-silhouette m-country-silhouette"></div>
  </div>
</div>
