<div class="config-controls">
  <button>download data</button>
  <button>compare with other countries</button>
</div>
<div class="layout-controls">
  <button class="btn-layout-dashboard">Dashboard</button>
  <button class="btn-layout-list">List</button>
</div>