<div class="l-toolbar">
  <div class="wrap">
    <div class="m-controls">
      <button class="js--download btn">
        <svg class="icon -regular">
          <use xlink:href="#icon-download"></use>
        </svg>
        download
      </button>
      <span> | </span>
      <a href="countries#compare?countries[]={{iso}}" class="btn">
        <svg class="icon -regular">
          <use xlink:href="#icon-compare"></use>
        </svg>
        compare countries
      </a>
      <span> | </span>
      <button class="js--print btn">
        <svg class="icon -regular">
          <use xlink:href="#icon-print"></use>
        </svg>
        print
      </button>
      <span> | </span>
      <button class="js--share btn">
        <svg class="icon -regular">
          <use xlink:href="#icon-share"></use>
        </svg>
        share
      </button>
    </div>

    <div class="m-controls">
      <button class="js--btn btn-layout-dashboard is-active btn">
        <svg class="icon -regular">
          <use xlink:href="#icon-dashboard"></use>
        </svg>
        Dashboard
      </button>
      <button class="js--btn btn-layout-list btn">
        <svg class="icon -regular">
          <use xlink:href="#icon-list"></use>
        </svg>
        List
      </button>
    </div>
  </div>
</div>