<div class="m-controls">
  <button class="js--btn btn-layout-dashboard is-active btn">
    <svg class="icon -regular">
      <use xlink:href="#icon-dashboard"></use>
    </svg>
    <span class="button-literal">Dashboard</span>
  </button>
  <button class="js--btn btn-layout-list btn">
    <svg class="icon -regular">
      <use xlink:href="#icon-list"></use>
    </svg>
    <span class="button-literal">List</span>
  </button>
</div>
