<div class="js--country-header"></div>

<div class="l-toolbar -year-and-legend">
  <div class="wrap">
    <div class="js--legend"></div>

    <div class="m-year-selector -country">
      {{!-- <span class="selector-literal">Select year</span> --}}
      {{!-- <div class="selector-wrapper -year"> --}}
        <div class="btn-drop-down">
          <div class="js--year-selector-country"></div>
        </div>
      {{!-- </div> --}}
    </div>
  </div>
</div>


<div class="js--country-toolbar">
  <div class="l-toolbar -utils">
    <div class="wrap">
      <div class="js--toolbar-utils"></div>
      <div class="js--toolbar-display"></div>
    </div>
  </div>
</div>

<div class="js--indicators"></div>

<div class="l-toolbar -utils -footer">
  <div class="wrap">
    <div class="js--legend"></div>
    <div class="js--toolbar-utils"></div>
  </div>
</div>
