<div class="m-controls -country-options">
  <button class="js--btn btn-layout-dashboard is-active btn">
    <svg class="icon -regular">
      <use xlink:href="#icon-dashboard"></use>
    </svg>
    Dashboard
  </button>
  <button class="js--btn btn-layout-list btn">
    <svg class="icon -regular">
      <use xlink:href="#icon-list"></use>
    </svg>
    List
  </button>
</div>
