<div class="l-banner -detail">
  <div class="m-breadcrumbs">
    <ul>
      <li><a href="/">home </a></li>
      <li><span> / </span></li>
      <li><a href="/countries"> countries </a></li>
      <li><span> / </span></li>
      <li> {{name}}</li>
    </ul>
  </div>
  
  <div class="wrap">

    <h1 class="c-section-title">{{name}}</h1>
    <div class="js--country-silhouette"></div>
  </div>
</div>