<div class="l-banner -section-1">
  <div class="wrap">
    <h3 class="c-title">Countries</h3>

    <div class="m-search" id="searchBox">
      <input id="searchMap" placeholder="Search country" type="search">
      <div class="search-box" id="searchContent">
        <div id="search-tpl">
          <div class="search-content">
            <div class="search-result"></div>
            <div class="search-suggestions"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="js--search"></div>
<div class="l-content">
  <div class="js--countries"></div> 
</div>
