<div class="l-banner -detail">
  <div class="wrap">
    <div class="js--country-header"></div>
    <a href="#" class="js--download">Download</a>
  </div>
</div>

<div class="l-toolbar">
  <div class="wrap">
    <div class="config-controls">
      <button>download data</button>
      <button>compare with other countries</button>
    </div>
    <div class="layout-controls">
      <button>Dashboard</button>
      <button>List</button>
    </div>
  </div>
</div>

<div class="l-content">
  <div class="wrap">
    <div class="js--indicators"></div>
  </div>
</div>