<div class="config-controls">
  <button class="js--download">download data</button>
  <a href="/countries#compare">compare with other countries</a>
</div>
<div class="layout-controls">
  <button class="btn-layout-dashboard">Dashboard</button>
  <button class="btn-layout-list">List</button>
</div>