<div class="js--country-header"></div>

<div class="l-toolbar -year-and-legend -country">
  <div class="wrap">
    <div class="js--legend"></div>

    <div class="m-year-selector -country">
      <div class="btn-drop-down">
        <div class="js--year-selector-country"></div>
      </div>
    </div>

    <div class="js--toolbar-display"></div>
{{!--     <div class="js--country-toolbar">

 
    </div> --}}

  </div>
</div>


<!-- <div class="js--country-toolbar">
  <div class="l-toolbar -utils">
    <div class="wrap">
      <div class="js--toolbar-utils"></div>
      <div class="js--toolbar-display"></div>
    </div>
  </div>
</div> -->

<div class="js--indicators"></div>

<div class="l-toolbar -footer -no-border-bottom">
  <div class="wrap">
    <div class="js--legend"></div>

    <div class="c-share">
        <button class="js--view-share btn">
          <svg class="icon -regular">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-share"></use>
          </svg>
          <span class="button-literal">share</span>
        </button>
      </div>
  </div>
</div>
