{{!-- <a href="/indicators#{{short_name}}"> --}}
  <div class="index-description">
    <p class="name">
      {{short_name}}
    </p>
    {{#if organization}}
      <p class="organization">
        {{organization}}
      </p>
    {{/if}}
    <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur aliquam dolor fugiat dignissimos quam libero aliquid ex ut illum! Ipsam optio dolore eaque, ea rerum eos nesciunt, est repudiandae alias.
    </p>
    <a class="btn-read-more" href="#">Read more</a>
  </div>

  <div class="index-score">
    <div class="resume">
      <div class="graph"></div>
      <p class="global-score">
        {{score}}
      </p>
    </div>

    <ul class="partial-scores">
      <li>
        <p id="global">3</p>
        <p>globally</p>
      </li>
      <li>
        <p id="continent">2</p>
        <p>In America</p>
      </li>
      <li>
        <p id="developed">1</p>
        <p>In Developed countries</p>
      </li>
    </ul>

    <a class="btn-read-more" href="#">See past data</a>
  </div>
{{!-- </a> --}}

