<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include icons.html %}

    <div class="l-main-container js-blog">
      {% include header.html %}

      <div class="l-banner -section-2 promoInteriores-Blog">
        <div class="m-breadcrumbs -light">
          <ul>
            <li><a href="{{ site.baseurl }}"> home </a></li>
            <li><span> / </span></li>
            <li> {{ page.page-name }} </li>
          </ul>
        </div>

        <div class="wrap">

          <h1 class="c-section-title -light">{{ page.page-name }}</h1>
          <p>{{ page.intro-text }}</p>
        </div>
      </div>

      <div class="l-toolbar">
        <div class="wrap">
          <div class="m-controls -right">

            <!-- <div class="btn-drop-down -sm" id="categorySelector">
              <select>
                <option value="">All categories</option>
                {% for category in site.categories.blog %}
                  <option value="{{category.category}}">{{category.category}}</option>
                {% endfor %}
              </select>
            </div> -->

            <button class="js--share btn">
              <svg class="icon -regular">
                <use xlink:href="#icon-share"></use>
              </svg>
              share
            </button>
          </div>
        </div>
      </div>

      <div class="l-main-container">

        {% for post in paginator.posts %}

            <div class="l-post {%if post.image%} -img {%endif%}" {%if post.image%} style="background-image:url({{ site.baseurl }}/{{post.image}})" {%endif%} >
              <div class="wrap">

                <div class="m-post -list">

                  <div class="properties">
                    <div class="category">
                      <span> {{post.category}}</span>
                    </div>
                    <div class="tags">
                      {% for tag in post.tags %}
                      <span class="tag"> #{{tag}} </span>
                      {% endfor %}
                    </div>
                  </div>

                  <div class="details">
                    <span class="author">
                      Author: {{ post.author }}
                    </span>
                    <span class="date">
                      <time>{{ post.date | date: '%B %d, %Y'}}</time>
                    </span>
                  </div>

                  <div class="title">
                    <h3>
                      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                    </h3>
                  </div>

                  <div class="content">
                    {{post.excerpt}}
                  </div>

                </div>

              </div>

            </div>

        {% endfor %}
      </div>


      <div class="l-toolbar">
        <div class="wrap">
          <div class="m-controls">

            <div class="m-pagination">
              {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path }}" class="page-link"> < Newer Post</a>
              {% else %}
                <span class="page-link -disabled">< Newer Post</span>
              {% endif %}
              <span class="page-number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
              {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path }}/" class="page-link"> Older post > </a>
              {% else %}
                <span class="page-link -disabled">Older post ></span>
              {% endif %}
            </div>

            <button class="js--share btn">
              <svg class="icon -regular">
                <use xlink:href="#icon-share"></use>
              </svg>
              share
            </button>
          </div>
        </div>
      </div>

      {% include footer.html %}
    </div>
    <script src="js/blog_bundle.js"></script>
    <script src="js/bundle.js"></script>
  </body>

</html>
