<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include icons.html %}

    <div class="l-main-container js-blog">
      {% include header.html %}

      <div class="l-banner -section-2 promoInteriores-Blog">

        {% include breadcrumbs.html %}

        <div class="wrap">

          <h1 class="c-section-title -light">{{ page.page-name }}</h1>
          <p>{{ page.intro-text }}</p>
        </div>
      </div>

      <div class="l-toolbar -blog">
        <div class="wrap">
          
          {% assign categoriesSize = site.categories | size %}
          {% unless categoriesSize == 1 %}
          <div class="m-year-selector">
            <div class="btn-drop-down" id="categorySelector" data-url="{{ site.baseurl }}">
              <select>
                <option value="">All categories</option>
                {% for category in site.categories %}
                  {% unless category[0] == "blog" %}
                    <option value="{{ category | first | remove:' ' | downcase }}">
                      {{ category | first }}
                    </option>
                    {% if forloop.last %}.{% else %}, {% endif %}
                  {% endunless %}
                {% endfor %}
              </select>
            </div>
          </div>
          {% endunless %}
          
          <button class="js--view-share btn">
            <svg class="icon -regular">
              <use xlink:href="#icon-share"></use>
            </svg>
            <span class="button-literal">share</span>
          </button>

        </div>
      </div>

      <div class="l-blog">
        {% for post in paginator.posts %}

            {% include modules/post_list_module.html %}

        {% endfor %}
      </div>

      <div class="l-toolbar -pagination -footer">
        <div class="wrap">
          <div class="m-controls -full -centered">
            <div class="m-pagination">
              {% if paginator.previous_page %}
                <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="page-link"> &lt; Newer Post</a>
              {% else %}
                <span class="page-link -disabled">&lt; Newer Post</span>
              {% endif %}
              <span class="page-number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
              {% if paginator.next_page %}
                <a href="{{ site.baseurl }}{{ paginator.next_page_path }}/" class="page-link"> Older post > </a>
              {% else %}
                <span class="page-link -disabled">Older post ></span>
              {% endif %}
            </div>
          </div>
          
          <div class="c-share">
            <button class="js--view-share btn">
              <svg class="icon -regular">
                <use xlink:href="#icon-share"></use>
              </svg>
              <span class="button-literal">share</span>
            </button>
          </div>
          
        </div>
      </div>

      {% include modules/tag_cloud.html %}

      {% include footer.html %}

      </div>
    <script>
      var SITEURL = '{{ site.baseurl }}' || null;
    </script>
    <script src="{{site.baseurl}}/js/blog_bundle.js"></script>
  </body>

</html>
