<div class="l-toolbar -year-selector">
  <div class="wrap">
    <div class="m-compare-selectors -year">
      <p class="is-small-text">Select date to compare the country data</p>
      <div class="selector-wrapper -year">
        <div class="btn-drop-down">
          <div class="js--year-selector-compare"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="js--compare-selectors"></div>

<div class="l-content -fullscreen">
  <div class="wrap">
    <div class="m-comparison-table">
      <div class="js--comparison-indicators -index"></div>
      <div class="js--country-1 -score"></div>
      <div class="js--country-2 -score"></div>
      <div class="js--country-3 -score"></div>
      <div class="advise-wrapper">
        <div class="m-advise -compare">
          <p>Please, select the countries that you would like to compare into the selects above this message</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="js--compare-toolbar">
  <div class="l-toolbar -utils -footer">
    <div class="wrap">
      <div class="js--legend"></div>
      <div class="js--toolbar-utils"></div>
    </div>
  </div>
</div>
