<ul class="table-header">
  {{#each indicators}}
    <li class="table-cell {{short_name}}">
      <h3>{{product_name}}</h3>
      <div class="organization">
        <h2>{{organization}}
          {{#if product_description}}
            <button class="btn-info" data-indicator="{{short_name}}">i</button>
          {{/if}}
        </h2>
      </div>
    </li>
  {{/each}}
</ul>
