<ul class="table-header">
  {{#each indicators}}
    <li class="table-cell {{short_name}}">
      <h3>{{product_name}}</h3>
      <div class="organization">
        <h2>{{organization}}</h2>
        {{#if product_description}}
          <div class="c-tooltip">
            <div class="pop-up-legend-container">
              <button class="btn-info">i</button>
              <div class="pop-up-legend is-hidden">
                <p>{{product_description}}</p>
              </div>
            </div>
          </div>
        {{/if}}
      </div>
    </li>
  {{/each}}
</ul>
