<div class="l-toolbar -year-selector">
  <div class="wrap">
    <div class="m-compare-selectors -year">
      <p class="is-small-text">Select date to compare the country data</p>
      <div class="selector-wrapper -year">
        <div class="btn-drop-down">
          <div class="js--year-selector-compare"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="js--compare-selectors is-mobile-hidden"></div>

<div class="l-content -fullscreen">
  <div class="wrap">
    <div class="m-comparison-table">
      <div class="js--comparison-indicators -index"></div>
      <div class="js--country-1 -score"></div>
      <div class="js--country-2 -score"></div>
      <div class="js--country-3 -score"></div>
    </div>
    <div class="m-advise -compare">
      <p>Please, select the countries that you would like to compare into the selects above this message</p>
    </div>
  </div>
</div>

<div class="js--compare-toolbar">
  <div class="l-toolbar -footer">
    <div class="wrap">
      <div class="m-legend">
        <ul>
          <li class="-excellent"><span class="legend-title">excellent</span></li>
          <li class="-good"><span class="legend-title">Good</span></li>
          <li class="-moderate"><span class="legend-title">moderate</span></li>
          <li class="-fair"><span class="legend-title">fair</span></li>
          <li class="-poor"><span class="legend-title">poor</span></li>
        </ul>
        <div class="pop-up-legend-container">
        <button class="btn-info" id="legendPopup">i</button>
          <div class="pop-up-legend is-hidden">
            <p>The color coding scheme employed by the Governance Data Alliance on this website is an attempt to provide users with a way to compare whether a particular score for a particular country is, relative to other scores from other data sets, encouraging or cause for concern. Data points provided by Governance Data Alliance producer organizations to Alliance dashboards derive from very different research methodologies and scoring scales. Our use of this unified color scheme is an attempt to provide a snapshot overview of the relative strengths and weaknesses associated with country performance across these disparate indicators.</p>

            <p>Alliance data producer organizations have selected specific scoring bands for each of their data sets that correspond to the color codes used here. These Alliance scoring/color bands may or may not correspond to how each data producer currently publishes their results independently; again, this inconsistency in certain cases is an unavoidable result of our attempt to provider a snapshot, unified overview of all results for a country. If you are confused by a certain color assignation on these dashboards, please consult the specific data producer organization's website for in-depth details on their respective scoring methodology.</p>
          </div>
        </div>
      </div>
      <div class="js--toolbar-utils"></div>
    </div>
  </div>
</div>

{{!-- <div class="l-content -main">
  <div class="wrap">
    <h3 class="c-section-title -small">
      objectives
    </h3>
    <p>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
    </p>
    <div class="m-objectives-list">
      <ul>
        <li>
          <svg class="icon">
            <use xlink:href="#icon-check"></use>
          </svg>
          <span>Availability</span>
        </li>
        <li>
          <svg class="icon">
            <use xlink:href="#icon-check"></use>
          </svg>
          <span>Quality</span>
        </li>
        <li>
          <svg class="icon">
            <use xlink:href="#icon-check"></use>
          </svg>
          <span>Understanding</span>
        </li>
      </ul>
      <a href="about" class="btn -secondary">know about the alliance</a>
    </div>
  </div>
</div> --}}
