<div class="l-toolbar -compare-legend">
  <div class="wrap">
    <div class="l-compare-selectors">
      <div class="js--legend"></div>

      <div class="c-share">
        <button class="js--view-share btn">
          <svg class="icon -regular">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-share"></use>
          </svg>
          <span class="button-literal">share</span>
        </button>
      </div>

    </div>
  </div>
</div>

<div class="js--compare-selectors"></div>

<div class="l-content -fullscreen -compare">
  <div class="wrap">
    <div class="m-comparison-table">
      <div class="js--comparison-indicators -index"></div>
      <div class="js--country-1 -score"></div>
      <div class="js--country-2 -score"></div>
      <div class="js--country-3 -score"></div>
      <div class="advise-wrapper">
        <div class="m-advise -compare">
          <p>Please, select the countries that you would like to compare into the selects above this message</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="js--compare-toolbar">
  <div class="l-toolbar -footer">
    <div class="wrap">
      <div class="js--legend"></div>

      <div class="c-share">
        <button class="js--view-share btn">
          <svg class="icon -regular">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-share"></use>
          </svg>
          <span class="button-literal">share</span>
        </button>
      </div>
  
    </div>
  </div>
</div>
