<div class="l-banner -section-2 promoInteriores-CompareCountries">
  <div class="m-breadcrumbs -light">
    <ul>
      <li><a href="/">home </a></li>
      <li><span> / </span></li>
      <li> compare </li>
    </ul>
  </div>

  <div class="wrap">

    <h1 class="c-section-title -light">Compare countries</h1>
    <p>While no single number can capture a country's complex governance landscape, comparing countries to each other across many dimensions of governance can reveal powerful insights.</p>
  </div>
</div>

<div class="js--year-selector"></div>

<div class="js--compare-selectors"></div>

<div class="l-content -fullscreen">
  <div class="wrap">
    <div class="m-comparison-table">
      <div class="js--comparison-indicators -index"></div>
      <div class="js--country-1 -score"></div>
      <div class="js--country-2 -score"></div>
      <div class="js--country-3 -score"></div>
    </div>
    <div class="m-advise -compare">
      <p>Please, select the countries that you would like to compare into the selects above this message</p>
    </div>
  </div>
</div>

<div class="l-highlight distribuidorDestacado-About02">
  <div class="wrap">  
    <div class="m-presentation -light">
      <h2 class="c-title">
        The Governance Data Alliance
      </h2>
      <p>
        We're a group of NGOs, governments, firms, and donors who are serious about improving the quality, availability, breadth, and use of governance data. We identify and spread good practices for data production, we build feedback loops between data users and data producers, and we drive down the time and cost to produce data.
      </p>
      <a href="about" class="btn -white">find out more</a>  
    </div>
  </div>
</div>

<div class="l-content -main">
  <div class="wrap">
    <h3 class="c-section-title -small">
      objectives
    </h3>
    <p>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
    </p>
    <div class="m-objectives-list">
      <ul>
        <li>
          <svg class="icon">
            <use xlink:href="#icon-check"></use>
          </svg>
          <span>Availability</span>
        </li>
        <li>
          <svg class="icon">
            <use xlink:href="#icon-check"></use>
          </svg>
          <span>Quality</span>
        </li>
        <li>
          <svg class="icon">
            <use xlink:href="#icon-check"></use>
          </svg>
          <span>Understanding</span>
        </li>
      </ul>
      <a href="about" class="btn -secondary">know about the alliance</a>
    </div>
  </div>
</div>