<footer class="l-footer is-{{ page.name }}">
  <div class="wrap">
    <nav>
      <ul class="m-site-navigation -vertical">
        <li class="link"><a href="{{ site.baseurl }}/">Home</a></li>
        <li class="link"><a href="{{ site.baseurl }}/countries">Countries</a></li>
        <li class="link"><a href="{{ site.baseurl }}/indicators">Indexes</a></li>
        <li class="link"><a href="{{ site.baseurl }}/countries#compare?countries[]=GBR&countries[]=USA&countries[]=ESP">Compare</a></li>
        <li class="link"><a href="#">About the Alliance</a></li>
      </ul>
    </nav>

    <a href="#">Privacy & Terms of use</a>
  </div>
</footer>
