<footer class="l-footer">
  <div class="brand">
    <a href="{{ site.baseurl }}/" class="c-brand -expanded"><img src="{{ site.baseurl }}/css/img/logo-simple.svg" alt=""></a>
  </div>
  
  <div class="menus">
    <div class="menus-wrapper">
      <nav class="m-site-navigation">
        <ul>
          <li class="link"><a href="{{ site.baseurl }}/countries">countries</a></li>
          <li class="link"><a href="{{ site.baseurl }}/indicators">data</a></li>
          <li class="link"><a href="{{ site.baseurl }}/countries#compare">compare</a></li>
          <li class="link"><a href="#">about</a></li>
          <li class="link"><a href="#">blog</a></li>
        </ul>
      </nav>

      <div class="footer-info">
        <img class="creative-common-logo" src="/css/img/cc-logo.png" alt="creative commons">
        <!-- <a class="creative-common-logo" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a> -->
        <p>Governance Data Alliance organization.</p>
        <div class="m-social-share -footer">
        <ul>
          <li class="icon -facebook">
            <a href="https://www.facebook.com">
              <svg class="icon">
                <use xlink:href="#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="icon -twitter">
            <a href="https://twitter.com/@GovDataAlliance">
              <svg class="icon">
                <use xlink:href="#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      </div>
    </div>
  </div>
</footer>
