<header class="l-header is-{{ page.name }}">
  <div class="wrap">
    <a class="c-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <button class="btn-mobile-menu"></button>
    <nav>
      <ul class="m-site-navigation">
        <li class="link"><a href="{{ site.baseurl }}/countries">Countries</a></li>
        <li class="link"><a href="{{ site.baseurl }}/indicators">Indexes</a></li>
        <li class="link"><a href="{{ site.baseurl }}/countries#compare?countries[]=GBR&countries[]=USA&countries[]=ESP">Compare</a></li>
        <li class="link"><a href="#">About the Alliance</a></li>
      </ul>
    </nav>
  </div>

</header>
