<div class="m-cohort-groups">

  <div class="cohort-wrapper">
    <div class="groups">
      <div class="group">
        <h2>Globally</h2>
        <ul>
          <li data-rankCategory="global" data-rankGroup="globally" class="group-selector">Globally</li>
        </ul>
      </div>
      {{#each cohortGroups}}
        <div class="group">
          <h2>{{#beautifullStrign @key}}{{/beautifullStrign}}</h2>
          <ul>
            {{#each this}}
              <li data-rankCategory="{{this.type}}" data-rankGroup="{{this.category}}" class="group-selector">{{this.category}}</li>
            {{/each}}
          </ul>
        </div>
      {{/each}}
    </div>
  </div>
</div>
