<div class="c-table-metadata -countries">
  <a href="#" class="js--download">Download</a>
</div>

<table class="c-table -countries">
  <tbody>
    {{#each countries}}
      <tr>
        <td class="rank">{{rank}}</td>
        <td class="name">{{name}}</td>
        <td class="score">{{score}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
