<div class="l-content -fullscreen">
  {{#if countries}}
  <div class="m-table -rank">
    {{#each countries}}
      <div class="table-row">
        <div class="wrap">
          <div class="description">
            <p class="name">{{name}}</p>
          </div> 
          <div class="score" data-year="{{year}}">
            <p>{{score}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  {{else}}
  <div class="wrap">
    <div class="m-advise -clearfix">
      <p>no data for countries on this group</p>
    </div>
  </div>
  {{/if}}
</div>
