<div class="l-toolbar -year-and-legend -data">
  <div class="wrap">
    <div class="js--legend"></div>

    <div class="m-year-selector -country">
      <button class="btn-drop-down btn js--btn-ranking">Globally</button>
    </div>

    <div class="m-year-selector -country">
      {{!-- <span class="selector-literal">Select year</span> --}}
      {{!-- <div class="selector-wrapper -year"> --}}
        <div class="btn-drop-down">
          <div class="js--year-selector-indicators"></div>
        </div>
      {{!-- </div> --}}
    </div>
  </div>
</div>

<!-- <div class="l-toolbar -data -utils">
  <div class="wrap">

        <div class="js--toolbar-utils"></div>
        <div class="m-year-selector -country">
          <button class="btn-drop-down btn js--btn-ranking">Globally</button>
        </div>

  </div>
</div> -->

<div class="wrap">
  <div class="js--ranking-groups is-hidden"></div>
</div>
