{{#each indicators}}
  <div class="m-card--indexes">
    <a href="/indicators#{{short_name}}" class="index-description">
      <img src="{{logo}}" alt="">
      <h3 class="name">{{product_name}}</h3>
      <p class="organization">{{organization_name}} organization name</p>
    </a>
  </div>
{{/each}}
