<div class="js--indicator-header"></div>

<div class="js--indicator-toolbar"></div>

<div class="js--countries -table"></div>

<div class="l-toolbar -footer">
  <div class="wrap">
    <div class="js--legend"></div>
    {{!-- <div class="js--toolbar-utils"></div> --}}
  </div>
</div>
