<div class="js--indicator-header"></div>

<div class="js--indicator-toolbar"></div>

<div class="js--countries -table"></div>

<div class="l-toolbar -footer">
  <div class="wrap">
    <div class="js--legend"></div>

    <div class="c-share">
      <button class="js--view-share btn">
        <svg class="icon -regular">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-share"></use>
        </svg>
        <span class="button-literal">share</span>
      </button>
    </div>
    {{!-- <div class="js--toolbar-utils"></div> --}}
  </div>
</div>
