<div class="l-toolbar">
  <div class="wrap">
    <div class="m-controls">
      <button class="btn-drop-down btn js--btn-ranking">Globally</button>
      <span> | </span>
      <button class="js--download btn">
        <svg class="icon -regular">
          <use xlink:href="#icon-download"></use>
        </svg>
        download
      </button>
    </div>
    <div class="m-controls">
      <p class="is-small-text">Select date</p>
      <div class="selector-wrapper -year">
        <div class="btn-drop-down">
          <div class="js--indicators-year-selector">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrap">
  <div class="js--ranking-groups is-hidden"></div>
</div>