<div class="l-banner -section-2 promoInteriores-Data">
  <div class="m-breadcrumbs  -light">
    <ul>
      <li><a href="">home </a></li>
      <li><span> / </span></li>
      <li> data </li>
    </ul>
  </div>

  <div class="wrap">

    <h1 class="c-section-title -light">Data</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ornare ligula in elementum auctor. Pellentesque interdum, est id facilisis tristique, elit ante hendrerit nisi, id interdum massa dolor a lacus.</p>
  </div>
</div>

<div class="l-content -fullscreen">
  <div class="js--indicators"></div>
</div>
