<div class="l-toolbar">
  <div class="wrap">
    <div class="m-controls">
      <select name="category-selector" id="categorySelector">
        <option value="global">global</option>
      </select>
      <span> | </span>
      <button class="js--download">download data</button>
    </div>
    <div class="m-controls">
      <span class="date">Updated 2015</span>
    </div>
  </div>
</div>