<div class="l-toolbar">
  <div class="wrap">
    <div class="m-controls">
      <button class="btn-drop-down js--btn-ranking">Globally</button>
      <span> | </span>
      <button class="js--download">download data</button>
    </div>
    <div class="m-controls">
      <span class="date">Updated 2015</span>
    </div>
  </div>
</div>
<div class="wrap">
  <div class="js--ranking-groups is-hidden"></div>
</div>