<div class="l-toolbar -data">
  <div class="wrap">
      <div class="m-controls -s-column">
        <button class="btn-drop-down -min-width btn js--btn-ranking">Globally</button>
        <span class="separator"> | </span>
        <div class="js--toolbar-utils"></div>
      </div>
      <div class="m-controls">
        <p class="is-small-text">Select date</p>
        <div class="selector-wrapper -year">
          <div class="btn-drop-down -min-width">
            <div class="js--year-selector-indicators">
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="wrap">
  <div class="js--ranking-groups is-hidden"></div>
</div>
