<div class="l-banner -section-2 promoInteriores-Data">
  <div class="m-breadcrumbs  -light">
    <ul>
      <li><a href="">home </a></li>
      <li><span> / </span></li>
      <li> data </li>
    </ul>
  </div>

  <div class="wrap">

    <h1 class="c-section-title -light">Data</h1>
    <p>Below you can access all top-level (e.g. country score) data from many of the world's leading governance data producers, including historical ratings.</p>
  </div>
</div>

<div class="l-content -fullscreen">
  <div class="js--indicators"></div>
</div>

<div class="l-highlight distribuidorDestacado-About02">
  <div class="wrap">  
    <div class="m-presentation -light">
      <h2 class="c-title">
        The Governance Data Alliance
      </h2>
      <p>
        We're a group of NGOs, governments, firms, and donors who are serious about improving the quality, availability, breadth, and use of governance data. We identify and spread good practices for data production, we build feedback loops between data users and data producers, and we drive down the time and cost to produce data.
      </p>
      <a href="about" class="btn -white">find out more</a>  
    </div>
  </div>
</div>