<div class="l-banner -section-2 promoInteriores-Data">
  <div class="m-breadcrumbs  -light">
    <ul>
      <li><a href="">home </a></li>
      <li><span> / </span></li>
      <li> data </li>
    </ul>
  </div>

  <div class="wrap">

    <h1 class="c-section-title -light">Data</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ornare ligula in elementum auctor. Pellentesque interdum, est id facilisis tristique, elit ante hendrerit nisi, id interdum massa dolor a lacus.</p>
  </div>
</div>

<div class="l-content -fullscreen">
  <div class="js--indicators"></div>
</div>

<div class="l-presentation">
  <div class="intro -center -dark">  
    <div class="wrap">
      <div class="m-presentation -light">
          <h2 class="c-subtitle">What is Index?</h2>
          <p>An index is a statistical measure of the changes in a portfolio of stocks representing a portion of the overall market.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="l-highlight distribuidorDestacado-About02">
  <div class="wrap">  
    <div class="m-presentation -light">
      <h2 class="c-title">
        The goverment Data Alliance
      </h2>
      <p>
        Is a group of governance data producers, users, and funders that convened to enhance the availability, quality, and use of governance data. The Alliance, launched in Q2 2015, will facilitate coordination and knowledge-sharing among governance data producers, collect and analyze data to enhance our understanding of target governance data users’ needs.
      </p>
      <a href="about" class="btn -white">find out more</a>  
    </div>
  </div>
</div>