<div class="js--indicator-header"></div>

<div class="js--indicator-toolbar"></div>

<div class="js--countries -table"></div>

<div class="l-highlight">
  <div class="wrap">  
    <div class="m-presentation -light">
      <h2 class="c-title">
        The goverment Data Alliance
      </h2>
      <p>
        Is a group of governance data producers, users, and funders that convened to enhance the availability, quality, and use of governance data. The Alliance, launched in Q2 2015, will facilitate coordination and knowledge-sharing among governance data producers, collect and analyze data to enhance our understanding of target governance data users’ needs.
      </p>
      <a href="about" class="btn -white">find out more</a>  
    </div>
  </div>
</div>