/*
 * Add here values that
 * affect the whole proyect
 */
////////////////////
//**** Screen ****//
////////////////////
$screen-s: 540px;
$screen-m: 768px;
$screen-l: 960px;
$screen-xl: 1200px;


////////////////////
//****  Grid  ****//
////////////////////
$site-max-width: 1680px;
$grid-max-width: 1400px;
$wrap-padding: 40px;
$content-width: 80%;

////////////////////
//**** Fonts ****//
////////////////////
$font-main: 'Lora', sans-serif;
$font-secondary: 'Montserrat';

//Font sizes
$font-size: 20px;


////////////////////
//**** Colors ****//
////////////////////
$white: #fff;
$beige: #beb7aa;
$beige-medium: #eceae8;
$beige-light: #f4f3f2;
$turquoise: #39a1b2; 
$brown: #42352b;
$magenta: #97102c;
$yellow: #e9b33b;
$green: #49c29a;
$celeste: #49c9de;
$orange: #cd8200;
$blue: #5883b4;

$grey: #b4b6b6;
$light-grey: #d6d8d9;

//Theme colors
$color-1: $brown;
$color-2: $turquoise;
$color-3: $magenta;
$color-4: $celeste;

$bg-color-1: $beige-light;
$bg-color-2: $brown;
$bg-color-3: $beige;
$bg-color-4: $beige-medium;

//Font colors
$font-color-1: $brown;
$font-color-2: $white;
$font-color-3: $turquoise;

//bprder-colors
$border-1: $light-grey;

//Rank colors
$rank-1: $green;

////////////////////
//**** Margins ***//
////////////////////
