.m-cohort-groups {
  position: absolute;
  bottom: rem(-10px);
  z-index: 2;
  left: rem($wrap-padding-mobile);
  right: rem($wrap-padding-mobile);
  max-width: rem($grid-max-width);
  padding: rem(15px);
  background-color: $bg-color-4;
  transform: translatey(100%);
  border: 1px solid $color-4;


  &:before {
    content: "";
    @include equi-triangle(rem(11px), $color-4, top);
    position: absolute;
    top: rem(-11px);
    right: rem(49px);
  }

  &:after {
    content: "";
    @include equi-triangle(rem(10px), $bg-color-4, top);
    position: absolute;
    top: rem(-10px);
    right: rem(50px);
  }


  @media screen and (min-width: $screen-s) {
    left: rem($wrap-padding-tablet);
    right: rem($wrap-padding-tablet);
  }

  @media screen and (min-width: 768px) {
    padding: rem(35px) rem(40px);
    left: rem($wrap-padding-desktop);
    right: rem($wrap-padding-desktop);
    border: none;

    &:before {
      display: none;
    }
  }

  @media screen and (min-width: $screen-xl) {
    left: rem(80px);
    right: rem(80px);
  }

  .groups {
    display: flex; display: -ms-box;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  .group {
    margin: 0 rem(10px) rem(10px);

    @media screen and (min-width: 768px) {
      margin-bottom: 0;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  h3 {
    width: 100%;
    margin-bottom: rem(30px);
    font-size: rem(12px);
    font-family: $font-secondary;
    text-transform: uppercase;
  }

  h2 {
    font-size: rem(20px);
    font-weight: 400;
    text-transform: capitalize;

    @media screen and (min-width: 768px) {
      margin-bottom: rem(15px);
    }
  }

  li {
    font-size: rem(15px);
    color: $color-2;
    padding: rem(8px) 0;
    cursor: pointer;

    &:hover {
      color: $color-4;
    }
  }
}
