.m-country-silhouette {
  display: none;
	position: relative;
	top:-35px;

	> .svg-country-silhouette {
		fill: $beige;
	  opacity: .3;
	}

  @media screen and (min-width: $screen-m) {
    display: block;
  }
}