.m-cohort-groups {
  position: absolute;
  bottom: rem(-10px);
  z-index: 2;
  width: 90%;
  padding: rem(35px) rem(40px);
  background-color: $bg-color-4;
  transform: translatey(100%);

  @media screen and (max-width: $screen-m) {
    bottom: rem(40px);

    border: 1px solid $color-4;

    &:before {
      content: "";
      @include equi-triangle(rem(11px), $color-4, top);
      position: absolute;
      top: rem(-11px);
      left: rem(49px);

    }
    &:hover {
      border-color: $color-1;
      &:before {
        border-bottom-color: $color-1;
      }
    }
  }

  &:after {
    content: "";
    @include equi-triangle(rem(10px), $bg-color-4, top);
    position: absolute;
    top: rem(-10px);
    left: rem(50px);
  }


  .groups {
    display: flex; display: -ms-box;
    flex-direction: column;

    @media screen and (min-width: $screen-m) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .group {
    margin: 0 rem(10px);

    @media screen and (min-width: $screen-m) {

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  h3 {
    width: 100%;
    margin-bottom: rem(30px);
    font-size: rem(12px);
    font-family: $font-secondary;
    text-transform: uppercase;
  }

  h2 {
    font-size: rem(20px);
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: rem(15px);
  }

  li {
    font-size: rem(15px);
    color: $color-2;
    padding: rem(8px) 0;
    cursor: pointer;
  }
}
