.m-compare-selectors {
  display: flex;
  width: 100%;
  // min-height: rem(75px);
  border-left: 1px solid $border-1;
  border-right: 1px solid $border-1;

  @media screen and (max-width: $screen-m) {
    border: none;
    min-height: 0;
  }

  &.-year {
    justify-content: flex-end;
    align-items: center;
    &.-country {
      border: 0;
      .btn-drop-down {
        margin-right: 0;
      }
    }
  }



  &.-mobile {
    justify-content: flex-start;
    flex-direction: column;

    &.-year {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  p {
    margin-right: rem(10px);
  }

  .selector-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  > .-index {
    display: none;
    width: 100%;
    justify-content: flex-start;
    border-right: 1px solid $border-1;

    p {
      text-transform: uppercase;
      font-size: rem(11px);
      font-family: $font-secondary;
      padding-left: rem(25px);
    }

    @media screen and (min-width: 768px) {
      width: 30.1%;
      display: flex;
    }
  }

  > .-score {
    width: 100%;
    border-right: 1px solid $border-1;

    @media screen and (min-width: 768px) {
      width: 23.33%;
    }


    &:last-child {
      border-right: none;
    }
  }

  > .-year {
    width: 65%;

    @media screen and (min-width: 768px) {
      width: 23.33%;
    }
  }
}
