.m-card {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  padding: rem(65px) rem(35px);
  border-bottom: 1px solid $border-1;
  min-height: 450px;

  &:last-child {
    border-bottom: 0;
  }

  // transition: all .2s ease-in;

  .is-dashboard-layout & {
    flex-basis: 33%;
    flex-direction: column;
    border-left: 1px solid $border-1;
    border-bottom: 1px solid $border-1;

    &:nth-child(2n + 3) {
      border-left: 0;
    }
  }
  
  .index-description {
    display: flex;
    flex-basis: 48%;
    flex-direction: column;
    justify-content: space-between;

    > .name, 
    h3 {
      font-size: rem(30px);
      font-weight: 400;
      margin-bottom: rem(40px);
    }

    > .description {
       font-size: rem(15px);
        
       // @include ellipsis-y(107px);
    }

    > .organization {
      font-size: rem(15px);
      color: $font-color-1;
      margin-bottom: rem(20px);
    }

    .is-dashboard-layout & {
      > .description, 
      > .btn-read-more {
        display: none;
      }
    }
  }

  .index-score {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 48%;

    > .resume {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      > .graph {
        width: 50%;
        height: 100px;
        background-color: #ddd;
      }

      > .global-score {
        font-family: $font-secondary;
        font-weight: 700;
        font-size: rem(130px);
        color: $font-color-1;
        line-height: .7em;
        letter-spacing: rem(-7.5px);
       
        .units {
          align-self: flex-end;
          font-family: $font-secondary;
          font-weight: 700;
          font-size: rem(40px);
        }
      }
    }

    > .partial-scores {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: rem(20px);
      background-color: $bg-color-1;

      > li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }

      .partial-rank {
        font-size: rem(14px);
      }

      .partial-score {
        font-size: rem(30px);
      }
    }

    .is-dashboard-layout & {
      > .resume {
        flex-direction: column;
        align-items: flex-start;
      }

      > .partial-scores,
      > .btn-read-more {
        display: none;
      }
    }
  }
}