.m-card--indexes {
  display: flex;
  flex-basis: 50%;
  justify-content: space-between;
  border-bottom: 1px solid $border-1;

  &:last-child {
    border-bottom: 0;
  }


  &:nth-child(2n) {
    justify-content: flex-start;

    .index-description {
      padding: rem(65px) 0 rem(65px) rem(80px);
    }
  }

  &:nth-child(2n + 1) {
    justify-content: flex-end;
    border-right: 1px solid $border-1;

    .index-description {
      padding: rem(65px) rem(80px) rem(65px) 0;
    }
  }
  
  .index-description {
    @include col(6);
    display: flex;
    flex-basis: 100%;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;

    > .name {
      font-size: rem(30px);
      font-weight: 400;
      margin-bottom: rem(40px);
    }

    > .description {
       font-size: rem(15px);
        
       // @include ellipsis-y(107px);
    }

    > .organization {
      font-size: rem(15px);
      color: $font-color-1;
      margin-bottom: 0;
    }

    img {
      width: 30px;
      height: 30px;
      background-color: #ddd;
      margin-bottom: rem(30px);
    }
  }
}