.m-compare-selectors {
  display: flex;
  width: 100%;
  // min-height: rem(75px);
  border-left: 1px solid $border-1;
  border-right: 1px solid $border-1;

  @media screen and (max-width: $screen-m) {
    border: none;
    min-height: 0;
  }

  &.-year {
    justify-content: flex-end;
    align-items: center;

    .btn-drop-down {
      width: 94%;
      min-width: 10rem;

      @media screen and (max-width: $screen-m) {
        width: 100%;
      }

      select {
        width: 95%;
      }
    }
  }

  &.-mobile {
    justify-content: flex-start;
    flex-direction: column;
    padding-top: rem(10px);

    &.-year {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .selector-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  > .-index {
    width: 30.1%;
    justify-content: flex-start;
    border-right: 1px solid $border-1;

    p {
      text-transform: uppercase;
      font-size: rem(11px);
      font-family: $font-secondary;
      padding-left: rem(25px);
    }

    @media screen and (max-width: $screen-m) {
      display: none;
    }
  }

  > .-score {
    width: 23.33%;
    border-right: 1px solid $border-1;

    @media screen and (max-width: $screen-m) {
      width: 100%;
    }


    &:last-child {
      border-right: none;
    }
  }

  > .-year {
    width: 23.33%;
    @media screen and (max-width: $screen-m) {
      width: auto;
    }
  }

  @media screen and (max-width: $screen-m) {
    width: 100%;

    .btn-drop-down {
      width: 100%;
      max-width: 100%;
      margin: 0.75rem 0;
    }
  }
}
