.m-controls {
  display: flex; display: -ms-box;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  a, button, .btn-drop-down {

    font-size: rem(10px);

    &:hover {
      color: $color-1;
      border-color: $color-1;

      svg {
        fill: $color-1;
      }

      &:after {
        color: $color-1;
        border-color: $color-1;
      }
    }

    &.is-active {
      color: $font-color-1;
      background-color: #dedcda;
    }
  }


  .icon {
    display: block;
    margin-right: 5px;
  }

  span {
    align-self: center;
    color: $border-1;
    padding: 0 rem(10px);
  }

  .btn-layout-dashboard,
  .btn-layout-list {
    padding-left: rem(10px) ;
    padding-right: rem(10px) ;
  }

  &.-country-options {
    display: none;
    align-items: initial;
  }

  .-footer & {
    justify-content: center;
    margin-bottom: rem(20px);
  }

  .-data & {
    width: auto;

    @media screen and (max-width: $screen-m) {
      .icon {
        display: none;
      }
    }
  }

  @media screen and (max-width: $screen-m) {

    a, button {
      line-height: rem(28px);

      &.btn-drop-down {
        width: 100%;
      }
    }

    .selector-wrapper {
      width: 100%;
    }

    .separator {
      display: none;
    }

    .is-small-text {
      display: none;
    }
  }

  @media screen and (min-width: $screen-m) {

    a, button {
      font-size: rem(11px);

      &:first-child {
        margin-left: 0;
      }
    }

    &.-country-options {
      display: flex; display: -ms-box;
    }

    .-footer & {
      justify-content: space-between;
      margin-bottom: 0;
    }
  }
}
