.m-country-silhouette {
  display: none;

	> .svg-country-silhouette {
    padding-top: rem(35px);
		fill: $beige;
	  opacity: .3;
	}

  @media screen and (min-width: $screen-l) {
    display: block;
  }
}
