.m-card--indexes {
  display: flex;
  flex-basis: 50%;
  justify-content: space-between;
  border-bottom: 1px solid $border-1;

  &:last-child, 
  &:nth-last-child(2) {
    border-bottom: 0;
  }

  &:nth-child(2n) {
    justify-content: flex-start;

    .index-description {
      padding-left: rem(80px);
      padding-right: $wrap-padding-desktop;
    }
  }

  &:nth-child(2n + 1) {
    justify-content: flex-end;
    border-right: 1px solid $border-1;

    .index-description {
      padding-left: $wrap-padding-desktop;
      padding-right: $wrap-padding-desktop;
    }
  }
  
  .index-description {
    @include col(6);
    display: flex;
    flex-basis: 100%;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
    padding: rem(65px) 0;

    > .name {
      font-size: rem(30px);
      font-weight: 400;
      margin-bottom: rem(7px);
    }

    > .description {
       font-size: rem(15px);
        
       // @include ellipsis-y(107px);
    }

    > .organization {
      font-size: rem(15px);
      color: $font-color-1;
      margin-bottom: 0;
    }
    
    span {
      height: rem(40px);
      width: 50%;
      background-position: top left;
      background-size: contain;
      background-repeat: no-repeat;
    }

    img {
      display: block;
      max-width: 100%;
      width: rem(200px);
      background-color: #ddd;
      margin-bottom: rem(20px);

      &.corruption_perceptions_index ,
      &.doing_business,
      &.doing_business,
      &.doing_business_DTF {
        width: rem(150px);
      }

      &.ogp_regular_consult_forum,
      &.irm_action_plan_count_star,
      &.irm_action_plan_percent_star {
        width: rem(40px);
      }

      &.nations_in_transit,
      &.freedom_of_the_press,
      &.freedom_in_the_world,
      &.freedom_on_the_net,
      &.resource_governance_index {
        width: rem(70px);
      }
    }
  }
}