.m-comparison-table {
  display: flex; display: -ms-box;
  border-left: 1px solid $border-1;
  border-right: 1px solid $border-1;

  > .-index {
    width: 30.1%;

    .table-cell {
      flex-direction: column;
      justify-content: flex-start;
      border-right: 1px solid $border-1;
      border-bottom: 1px solid $border-1;

      > .organization {
        display: flex;
        align-items: center;
      }
    }
  }

  > .-score {
    width: 23.33%;

    .table-cell {
      display: block;
      text-align: center;
      // justify-content: center;
      // align-items: center;
      border-right: 1px solid $border-1;
      border-bottom: 1px solid $border-1;

      font-size: rem(72px);
      font-family: $font-secondary;
      font-weight: 700;
      text-transform: uppercase;

      &.-usd {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 44px;
        line-height: 32px;

        > .units {
          margin: 0;
          line-height: 32px;
          align-self: center;
        }

      }

      > .units {
        display: inline-block;
        margin-left: -20px;
      }

      &.no-data {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: rem(17px);
        font-family: $font-secondary;
        color: #5b5b5b;
      }

      // Scores
      &.-score-best {
        color: $best;
      }
      &.-score-good {
        color: $good;
      }
      &.-score-medium {
        color: $medium;
      }
      &.-score-regular {
        color: $regular;
      }
      &.-score-bad {
        color: $white;
        background-color: $bad;
      }

    }

    &:last-child {
      .table-cell {
        border-right: none;
      }
    }
  }

  .units {
    align-self: flex-end;
    font-family: $font-secondary;
    font-weight: 400;
    font-size: rem(25px);
    letter-spacing: .1px;
    line-height: .7em;
  }

  .table-cell {
    height: rem(160px);
    display: flex; display: -ms-box;
    padding: rem(35px) rem(25px);

    &:last-child {
      border-bottom: 0;
    }
  }

  h3 {
    font-size: rem(20px);
    margin-bottom: rem(25px);
    font-weight: 400;
  }

  h2 {
    display: inline-block;
    margin-right: rem(15px);
    font-size: rem(15px);
    font-weight: 400;
  }

  p {
    font-size: rem(15px);
  }
}
