.m-controls {
  display: flex;
  flex: 1 3 100%;
  display: -ms-box;
  align-items: center;
  justify-content: space-between;

  //REVIEW
  // > * {
  //   line-height: rem(14px);
  // }

  // .is-small-text {
  //   margin-right: rem(10px);
  // }

  &.-country-options {
    display: none;
  }

  &.-exent-selector {
    @media screen and (min-width: $screen-s) {
      max-width: 50%;
    }

    @media screen and (min-width: 768px) {
      align-items: flex-start;
    }

    @media screen and (min-width: $screen-s) {
      margin-top: rem(10px);
    }
  }

  a,
  button,
  .btn-drop-down {
    display: inline-block;
    font-size: rem(11px);
    padding: 0;
    
    &:hover {
      color: $color-4;
      border-color: $color-4;
    }

    &.is-active {
      color: $font-color-1;
      background-color: #dedcda;
      min-height: 100%;
      &:hover {
        color: $font-color-1;
        svg {
          fill: $color-1;
        }
      }
    }
  }

  .separate {
    display: none;

    @media screen and (min-width: 768px) {
      display: inline-block;
    }
  }

  a:hover,
  button:hover {
    color: $color-4;
    svg {
      fill: $dark-sky-blue;
    }
  }

  button {
    display: flex;
  }

  &.-selector {
    min-width: rem(180px);
  }

  &.-full {
    width: 100%;

    @media screen and (min-width: $screen-s) {
      width: auto;
    }
  }

  &.-centered {
    justify-content: center;
  }

  &.-s-column {
    flex-direction: column;
    align-items: flex-start;

    + .m-controls {
      align-items: flex-start;
    }

    @media screen and (min-width: 768px) {
      flex-direction: row;
      align-items: center;

      .js--download {
        min-width: rem(115px);
        padding-left: 0;
      }

      + .m-controls {
        align-items: center;
      }
    }
  }

  .l-toolbar.-data & {
    width: 100%;
  }

  span {
    align-self: center;
    color: $border-1;
    padding: 0 rem(8px);
  }

  .btn-layout-dashboard,
  .btn-layout-list {
    padding: 0 rem(20px);
  }

  &.-right {
    justify-content: flex-end;
  }

  &.-country-options {
    align-items: initial;
  }

  .is-small-text {
    display: none;
    white-space: nowrap;
  }

  .separator {
    display: none;
  }

  .selector-wrapper {
    width: 100%;
  }

  @media screen and (min-width: $screen-s) {

    a, button {
      line-height: rem(14px);
    }
  }

  @media screen and (min-width: 768px) {
    .is-small-text {
      display: inline-block;
    }

    .separator {
      display: inline-block;
    }
  }

  @media screen and (max-width: $screen-m) {

    a, button {
      line-height: rem(28px);

      &.btn-drop-down {
        width: 100%;
      }
    }
  }

  @media screen and (min-width: 768px) {

    &.-country-options {
      display: flex;
      display: -ms-box;
    }

    a, button {
      font-size: rem(11px);
      line-height: rem(28px);

      &:first-child {
        margin-left: 0;
      }
    }

    button {
      display: inline-block;

      &:last-child {
        span {
          padding-right: 0;
        }
      }
    }

    span {
      padding: 0 rem(10px);
    }

    .-footer & {
      justify-content: space-between;
      margin-bottom: 0;
    }
  }
}
