.m-download {

  .modal-content {
    width: 100%;

    h2 {
      font-weight: 400;
      margin-bottom: rem(40px);
    }

    >.content {
      margin: rem(30px) 0;
    }

    p, a {
      font-size: rem(14px);
      line-height: rem(29px);
    }

    > .buttons {
      > a {
        width: 100%;
      }

      > .js--cancel-btn {
        border: 0;
      }
    }

    // From 640px
    @media screen and (min-width: $screen-s) {
      width: 100%;

      h2 {
        margin-bottom: 0;
      }

      > .content {
        margin: rem(20px) 0 rem(35px) 0;
      }

      > .buttons {
        > a {
          width: auto;
          font-size: rem(11px);
          letter-spacing: rem(0.3px);
        }
      }
    }
  }
}
