.m-legend {
  display: flex; display: -ms-box;
  align-items: center;

  > ul {
    display: flex;
    display: -ms-box;

    li {
      display: flex;
      display: -ms-box;
      align-items: center;
      justify-content: center;
      margin-right: rem(2px);

      &:before {
        content: '';
        display: inline-block;
        width: 7px;
        height: 7px;
      }

      &.-excellent:before {
        background: $excellent;
      }

      &.-good:before {
        background: $good;
      }

      &.-moderate:before {
        background: $moderate;
      }

      &.-fair:before {
        background: $fair;
      }

      &.-poor:before {
        background: $poor;
      }

      &.literal {
        font-family: $font-secondary;
        font-size: rem(11px);
        text-transform: uppercase;
        color: $font-color-3;
        margin-right: rem(4px);

        &:before {
          display: none;
        }
      }
    }

    .legend-item {
      display: none;
      font-family: "Montserrat";
      font-size: rem(10px);
      letter-spacing: rem(0.2px);
      color: $brown;
      text-transform: uppercase;
      white-space: nowrap;
    }
  }

  @media screen and (min-width: $screen-s) {
    > ul {
      li {

        &:before {
          width: 14px;
          height: 14px;
          margin-right: rem(10px);
        }

        &.literal {
          display: none;
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    .-footer & {
      > ul {
        li {
          margin-right: rem(20px);
        }
      }

      .legend-item {
        display: inline-block;
      }
    }
  }

  @media screen and (min-width: $screen-l) {
    > ul {
      li {
        margin-right: rem(20px);
      }

      .legend-item {
        display: inline-block;
      }
    }

  }

  .l-compare-selectors & {
    margin-left: rem(10px);

    @media screen and (min-width: $screen-l) {
      margin-left: rem(20px);
    }
  }
}
