.m-legend {
  display: flex; display: -ms-box;
  align-items: center;
  padding: rem(20px) 0;

  > ul {
    display: flex; display: -ms-box;
    margin-right: rem(20px);

    li {
      display: flex; display: -ms-box;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &:nth-child(2n) {
        margin: 0 25px;
      }

      &:before {
        content: '';
        display: inline-block;
        width: 14px;
        height: 14px;
        margin-bottom: 10px;
      }

      > .legend-title {
        font-family: "Montserrat";
        font-size: rem(10px);
        letter-spacing: rem(0.2px);
        color: $brown;
        text-transform: uppercase;
        white-space: nowrap;
      }

      &.-excellent:before {
        background: $excellent;
      }

      &.-good:before {
        background: $good;
      }

      &.-moderate:before {
        background: $moderate;
      }

      &.-fair:before {
        background: $fair;
      }

      &.-poor:before {
        background: $poor;
      }

      @media screen and (min-width: $screen-s) {
        flex-direction: row;

        &:before {
          margin: 0 10px 0 0;
        }
      }
    }
  }
}
