.m-legend {
  display: flex; display: -ms-box;
  align-items: center;
  padding: rem(20px) 0;

  > ul {
    display: flex; 
    display: -ms-box;

    li {
      display: flex; display: -ms-box;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-right: rem(2px);

      &:before {
        content: '';
        display: inline-block;
        width: 7px;
        height: 7px;
      }

      &.-excellent:before {
        background: $excellent;
      }

      &.-good:before {
        background: $good;
      }

      &.-moderate:before {
        background: $moderate;
      }

      &.-fair:before {
        background: $fair;
      }

      &.-poor:before {
        background: $poor;
      }

      &.literal {
        font-family: "Montserrat";
        font-size: rem(11px);
        text-transform: uppercase;
        color: $font-color-3;
        margin-right: rem(4px);

        &:before {
          display: none;
        }
      }
    }

    .legend-item {
      display: none;
      font-family: "Montserrat";
      font-size: rem(10px);
      letter-spacing: rem(0.2px);
      color: $brown;
      text-transform: uppercase;
      white-space: nowrap;
    }

  }

  @media screen and (min-width: $screen-s) {

  }

  @media screen and (min-width: 768px) {
    .legend-title {
      display: inline-block;
    }
  }

  .pop-up-legend-container {
    display: none;
    
    @media screen and (min-width: $screen-s) {
      display: block;
    }
  }
}
