.m-list {
  
  > ul {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    height: rem(450px);
  }

  li {
    width: 25%;
    margin-right: 1%;
    padding: rem(3px) 0;
  }
}