.m-list {
  display: flex;
  width: 100%;
  padding: 0 rem(10px);
  flex-direction: column;
  margin-bottom: rem(20px);

  &.-indexes {
    width: 46%;
    float: left;
    margin: 2%;
    height: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.2);
  }

  h2, 
  h3 {
    color: $font-color-2;
  }

  a {
    display: block;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 400px;

    li {
      width: 25%;
      padding-left: 1%;
    }
  }
}