.m-list {

  .lists-container {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }

  ul {
    display: flex; display: -ms-box;
    height: 0;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    border-bottom: 1px solid $border-1;
    transition: all .2s ease-in;
    overflow: hidden;
  }

  li {
    width: 100%;
    margin-right: 1%;
    transition: all .2s ease-in;

    > a:hover {
      color: $celeste;
      text-decoration: underline;
    }
  }

  .list-open + ul {
    height: rem(1750px);
    padding-bottom: rem(20px);

    li {
      padding: rem(10px) 20px;
    }
  }


  .list-header {
    position: relative;
    font-size: 12px;
    padding: 30px 20px;
    font-weight: 400;
    font-family: $font-secondary;
    text-transform: uppercase;

    &:after {
      content: "";
      @extend %centery;
      @include arrow (5px, $color-2, 2px, 225deg);
      top: 40%;
      right: rem(20px);
      pointer-events: none;
    }

    &.list-open {
      &:after {
        @include arrow (5px, $color-2, 2px, 45deg);
      }
    }
  }

  @media screen and (min-width: $screen-xs) {
    ul {

    }

    .list-open + ul {
      height: rem(1000px);
    }

    li {
      width: 49%;
      margin-right: 2%;
    }
  }

  @media screen and (min-width: $screen-s) {
    ul {

    }

    .list-open + ul {
      height: rem(650px);
    }

    li {
      width: 31.33%;
      line-height: rem(16px);
    }
  }

  @media screen and (min-width: $screen-m) {

    ul {
      margin: 0;
      height: auto;
      border-bottom: none;
      flex-basis: 33%;
      margin: 0 10px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }


      > li {
        width: 100%;
        padding: 5px 0;
      }
    }
  }
  @media screen and (min-width: 1400px) {
    ul {
      flex-basis: 20%;
    }
  }
}
