.m-modal-window {
  display: flex; display: -ms-box;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.modal-background {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  background: #000;
  opacity: .5;
}

.modal-wrapper {
  overflow: auto;
  box-sizing: border-box;
  position: relative;
  display: flex; display: -ms-box;
  margin: auto;
  z-index: 14;
  //optional, min size.
  width: 90%;
  max-width: rem(755px);
  min-height: 40%;
  background-color: $white;
}

.wrapper-container {
  width: 100%;
  padding: rem(50px) 0;
}

.modal-container {
  display: flex;
  display: -ms-box;
  width: 100%;
  height: 500px;
  padding: 0 rem(25px);
  overflow: scroll;
  font-size: rem(15px);
  align-items: flex-start;

  p {
    font-size: rem(14px);
  }

  @media screen and (min-width: $screen-m) {
    padding: 0 rem(55px);
  }

  @media screen and (min-width: $screen-xl) {
    padding: 0 rem(100px);
  }
}

.btn-close-modal {
  @extend .btn-close;
}
