.m-modal-window {
  display: flex; display: -ms-box;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.modal-background {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  background: #000;
  opacity: .5;
}

.modal-wrapper {
  box-sizing: border-box;
  position: relative;
  display: flex; display: -ms-box;
  margin: auto;
  z-index: 14;
  //optional, min size.
  width: 90%;
  max-width: rem(755px);
  min-height: 40%;
}

.modal-container {
  display: flex; display: -ms-box;
  width: 100%;
  padding: 50px; //Margen para el scroll de windows
  overflow: scroll;
  background-color: #fff;

  padding: 75px $wrap-padding-mobile;
  align-items: flex-start;

  // From 640px
  @media screen and (min-width: $screen-s) {
    padding: 75px $wrap-padding-tablet;
  }

  // From 768px
  @media screen and (min-width: $screen-m) {
    padding: 75px $wrap-padding-desktop;
  }
}

.btn-close-modal {
  @extend .btn-close;
}


