.m-modal-window .-legend {
  > ul {
    display: flex; 
    display: -ms-box;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: rem(30px);

    li {
      display: flex; 
      display: -ms-box;
      align-items: center;
      justify-content: center;
      margin-right: rem(10px);
      margin-bottom: rem(5px);

      &:before {
        content: '';
        display: inline-block;
        width: 14px;
        height: 14px;
        margin-right: rem(7px);
      }

      &.-excellent:before {
        background: $excellent;
      }

      &.-good:before {
        background: $good;
      }

      &.-moderate:before {
        background: $moderate;
      }

      &.-fair:before {
        background: $fair;
      }

      &.-poor:before {
        background: $poor;
      }

      &.literal {
        font-family: $font-secondary;
        font-size: rem(11px);
        text-transform: uppercase;
        color: $font-color-3;
        margin-right: rem(4px);

        &:before {
          display: none;
        }
      }
    }

    .legend-item {
      font-family: $font-secondary;
      font-size: rem(10px);
      letter-spacing: rem(0.2px);
      color: $brown;
      text-transform: uppercase;
      white-space: nowrap;
    }
  }

  @media screen and (min-width: 768px) {
    > ul {
      li {
        margin-right: rem(20px);
      }
    }
  }
}
