.m-modal-window {
  display: flex; display: -ms-box;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.modal-background {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 11;

  background: #000;
  opacity: .5;
}

.modal-wrapper {
  overflow: auto;
  box-sizing: border-box;
  position: relative;
  display: flex; display: -ms-box;
  margin: auto;
  z-index: 14;
  //optional, min size.
  width: 90%;
  max-width: rem(755px);
  min-height: 40%;
  background-color: #fff;
}

.modal-container {
  display: flex;
  display: -ms-box;
  width: 100%;
  height: 500px;
  // padding: 50px; //Margen para el scroll de windows
  padding: rem(75px) rem(45px) rem(75px) rem(15px);
  overflow: scroll;
  font-size: rem(15px);
  align-items: flex-start;

  @media screen and (min-width: $screen-m) {
    padding: rem(75px) rem(50px);
  }

  @media screen and (min-width: $screen-xl) {
    padding: rem(75px) rem(100px);
  }
}

.btn-close-modal {
  @extend .btn-close;
}
