.m-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: rem(10px);

  > .page-link {
    font-family: $font-secondary;
    font-size: rem(11px);
    color: $font-color-3;
    text-transform: uppercase;
    letter-spacing: .6px;
    cursor: pointer;
    min-width: rem(100px);
    padding: 0;

    &:first-child {
      padding-right: rem(15px);
    }

    &:last-child {
      padding-left: rem(15px);
    }

    &:hover {
      color: $color-4;
    }

    &.-disabled {
      opacity: 0.3;
      cursor: inherit;
      &:hover {
        color: $font-color-3
      }
    }
  }

  > .page-number {
    font-size: rem(12px);
    color: $font-color-1;
    letter-spacing: .4px;
    text-align: center;
  }

  @media screen and (min-width: $screen-s) {
    min-width: rem(250px);
    margin-bottom: 0;

    > .page-number {
      font-size: rem(12px);
    }
  }
}
