.m-region-list {
  display: flex;
  flex-basis: 100%;
  padding: 0 rem(10px);
  flex-direction: column;
  margin-bottom: rem(20px);

  h2 {
    color: $font-color-2;
  }

  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 400px;

    li {
      max-width: 25%;
    }
  }
}