.m-social-share {
  width: rem(60px);

  .icon {
    width: rem(20px);
    height: rem(20px);
    fill: $color-4;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media screen and (min-width: $screen-m) {
    width: rem(50px);
    margin: 0 rem(60px);

    &.-footer {
      margin-right: 0;
    }

    &.-share-window {
      margin: 0 auto;
    }
  }
}