.m-social-share {
  width: rem(110px);
  margin: 0 rem(60px);

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .icon {
    width: rem(20px);
    height: rem(20px);
    fill: $color-4;
  }

  &.-footer {
    margin-right: 0;
  }

  &.-share-window {
    margin: 0 auto;
  }
}