.m-share-window {

  h2 {
    margin-bottom: rem(25px);
  }

  .share-toolbar {
    display: flex;
    justify-content: flex-start;
    min-width: rem(200px);
    margin-bottom: rem(35px);

    >.btn {
      margin: 0;
      margin-right: rem(40px);
      padding-right: 0;
      padding-left: 0;
      width: auto;

      &.-active {
        position: relative;
        color: $font-color-1;

        > svg {
          fill: $font-color-1;
        }

        &:after {
          content: '';
          position: absolute;
          top: auto;
          left: 0;
          bottom: -3px;
          width: 100%;
          height: rem(2px);
          background-color: $color-4;
        }

        .button-literal {
          color: $font-color-1;
        }

        @media screen and (min-width: 768px) {
          &:after {
            display: none;
          }

          .button-literal {
            position: relative;
            &:after {
              content: '';
              position: absolute;
              top: auto;
              left: 0;
              bottom: -3px;
              width: 100%;
              height: rem(2px);
              background-color: $color-4;
            }
          }
        }
      }
    }

    &.-no-download {
      width: 25%;
      min-width: rem(100px);

      .js--download {
        display: none;
      }

      @media screen and (min-width: 768px) {
        min-width: rem(200px);
      }
    }

    @media screen and (min-width: 768px) {
      width: 75%;
      max-width: rem(400px);
    }
  }
}
