.m-share {

  h2 {
    font-weight: 400;
    margin-bottom: rem(40px);
  }

  p {
    font-size: rem(15px);
    margin-bottom: rem(65px);
  }

  input {
    text-style: italic;
    margin-bottom: rem(65px);
  }

  .modal-wrapper {

    .modal-container {

      .modal-content {
        width: 50%;

        .link-box {
          width: 100%;
          margin: 0 auto;
          text-align: left;
          position: relative;
        }

        .url {
          width: 80%;
          padding: rem(16px) rem(10px);
          font-family: "Montserrat";
          font-size: 12px;
          font-style: italic;
          color: #5b5b5b;

          @include ellipsis-x(100%);
        }

        .btn-copy {
          position: absolute;
          top: 0;
          right: 0;
          width: 21%;
          height: rem(51px);
          border: 1px solid $color-4;
          color: $color-2;
          padding: rem(17px);
          background: $white;
          font-size: rem(11px);
          font-family: $font-secondary;
          line-height: 18px;
          text-transform: uppercase;
          text-align: center;
          cursor: pointer;
        }
      }
    }
  }
}
