.m-site-navigation {
  @include col(8);

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .link {
    font-size: rem(11px);
    font-family: $font-secondary;
    text-transform: uppercase;
  }
}
