.m-site-navigation {
  @include col(8);

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .link a {
    font-size: rem(11px);
    font-family: $font-secondary;
    color: $font-color-1;
    text-transform: uppercase;

    &:hover {
      color: $font-color-3;
    }
  }
}
