.m-table {

  > .rest-tier {
    > .table-row:last-child{
      border-bottom: 0;
    }
  }

  .table-row {
    border-bottom: 1px solid $border-1;

    > .wrap {
      display: flex; display: -ms-box;
      justify-content: space-between;
      align-items: center;
      height: rem(100px);

      > .description {
        display: flex; display: -ms-box;
        align-items: baseline;
      }

      > .score {}
    }

    .rank {
      font-size: rem(30px);
      margin-right: rem(40px);
    }

    .name {
      font-size: rem(15px);
    }

    .score {
      font-size: rem(35px);
      letter-spacing: -2px;

      p {
        display: inline-block;
      }

      .units {
        align-self: flex-end;
        font-family: $font-secondary;
        font-weight: 400;
        font-size: rem(20px);
        letter-spacing: .1px;
        line-height: .7em;
      }

      // Scores
      &.-score-best {
        color: $best;
      }

      &.-score-good {
        color: $good;
      }

      &.-score-medium {
        color: $medium;
      }

      &.-score-regular {
        color: $regular;
      }

      &.-score-bad {
        color: $bad;
      }
    }

    &.-load-more {
      font-family:"Montserrat";
      font-size: rem(11px);
      letter-spacing: rem(0.6px);
      color: $font-color-3;
      text-transform: uppercase;
      cursor:pointer;
      border-bottom: 1px solid $border-1;

      > .wrap {
        justify-content: center;

        // svg:hover {
        //   fill: $celeste;
        // }

        p {
          margin-left: 5px;
        }
      }
    }
  }
}
