.m-title {
  display: flex;
  align-items: flex-start;

  .c-section-title {
    display: inline-block;
    margin-right: rem(20px);
  }

  img {
    display: inline-block;
    max-width: 100%;
    width: rem(200px);
    margin-top: rem(10px);
  }
}