.m-year-selector {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  justify-content: center;

  + .m-year-selector {
    margin-top: rem(10px);

    @media screen and (min-width: $screen-s) {
      margin-top: 0;
      margin-left: rem(20px);
    }
  }

  &.-compare {

    @media screen and (min-width: 768px) {
      margin-left: 0;
    }
  }

  @media screen and (min-width: $screen-s) {
    max-width: 23.5%;
  }

  @media screen and (min-width: $screen-l) {
    max-width: rem(160px);

    &.-compare {
      max-width: 23.5%;
    }
  }

  .selector-literal {
    display: none;
    margin-right: rem(10px);
    font-size: 11px;

    @media screen and (min-width: 800px) {
      display: inline-block;
    }
  }

  .selector-wrapper {
    @media screen and (min-width: 768px) {
      width: 23.33%;

      .btn-drop-down {
        margin: rem(12px) 6%;
      }
    }
  }

  &.-compare {
    border-left: 1px solid transparent;

    @media screen and (min-width: 768px) {
      padding-left: rem(10px);
      padding-right: rem(10px);
    }

    @media screen and (min-width: $screen-l) {
      padding-left: rem(20px);
      padding-right: rem(20px);
    }

    &.-index {
      display: none;
      width: 100%;
      max-width: 100%;
      border-right: 1px solid $border-1;

      p {
        text-transform: uppercase;
        font-size: rem(11px);
        font-family: $font-secondary;
      }

      @media screen and (min-width: 768px) {
        display: flex;
        flex: 1 1 30.1%;
        max-width: 30.1%;
      }
    }

    &.-score {
      width: 100%;
      border-right: 1px solid $border-1;

      @media screen and (min-width: 768px) {
        flex: 1 1 23%;
        max-width: 23.33%;
        padding-top: rem(10px);
        padding-bottom: rem(10px);
      }

      .btn-drop-down:last-child {
        margin-top: rem(10px);
      }

      &:last-child {
        border-right: none;
      }
    }
  }

  &.-exent {
    flex: auto;
    justify-content: flex-start;

    @media screen and (min-width: 768px) {
      flex: 1 1 100%;
    }
  }
}
