.m-year-selector {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: rem(160px);

  @media screen and (min-width: 800px) {
    display: inline-block;
    width: rem(200px);
  }

  &.-mobile {
    justify-content: flex-start;
    flex-direction: column;
    flex-direction: row;
    justify-content: space-between;
  }

  .selector-literal {
    display: none;
    margin-right: rem(10px);
    font-size: 11px;

    @media screen and (min-width: 800px) {
      display: inline-block;
    }
  }

  .btn-drop-down {
    margin: 0;
  }

  .selector-wrapper {
    @media screen and (min-width: 768px) {
      width: 23.33%;
    }
  }

  &.-compare {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 23%;

    @media screen and (min-width: 768px) {
      padding: 0 15px;
    }

    @media screen and (min-width: $screen-l) {
      padding: 0 20px;
    }
  }
}
