<!-- <div class="l-toolbar -compare-year-and-legend">
  <div class="wrap">
    <div class="l-compare-selectors -year -mobile">
      <div class="text">
        <p class="is-small-text">Select date</p>
      </div>
      <div class="m-year-selector -compare">
        <div class="btn-drop-down">
          <div class="js--year-selector-compare"></div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="l-content -fullscreen">
  <div id="compareSlider"> </div>
</div>

<div class="js--compare-toolbar">
  <div class="l-toolbar -utils -footer">
    <div class="wrap">
      <div class="js--legend"></div>
      {{!-- <div class="js--toolbar-utils"></div> --}}
    </div>
  </div>
</div>
