<div id="country-{{index}}" class="slider -mobile">

  <div class="js--compare-selectors selectors-{{index}}"> </div>

    <div class="m-advise -mobile">
      <p>Please, select the countries that you would like to compare into the selects above this message</p>
    </div>
    <div class="m-comparison-table -mobile">
      <div class="country">
      </div>
    </div>

</div>
