<div id="country-{{index}}" class="slider">

  <div class="js--compare-selectors"> </div>

  <div class="l-content -fullscreen">
    <div class="m-advise -mobile">
      <p>Please, select the countries that you would like to compare into the selects above this message</p>
    </div>
    <div class="m-comparison-table -mobile">
      <div class="country">
      </div>
    </div>
  </div>
</div>
