<div class="l-content -fullscreen">
  <div id="compareSlider"> </div>
</div>

<div class="js--compare-toolbar">
  <div class="l-toolbar -utils -footer">
    <div class="wrap">
      <div class="js--legend"></div>
      
      <div class="c-share">
        <button class="js--view-share btn">
          <svg class="icon -regular">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-share"></use>
          </svg>
          <span class="button-literal">share</span>
        </button>
      </div>

    </div>
  </div>
</div>
