.btn {
  font-size: rem(11px);
  font-family: $font-secondary;
  text-transform: uppercase;
  display: flex; display: -ms-box;
  align-items: center;
  text-align: center;

  &.-white {
    display: inline-block;
    padding: 20px 60px;
    border: 1px solid $white;
    color: $white;
    &:hover {
      color: $font-color-3;
      background-color: $white;
    }
  }

  &.-primary {
    display: inline-block;
    padding: 20px 60px;
    border: 1px solid $color-1;
    color: $color-1;
  }

  &.-secondary {
    display: inline-block;
    padding: 20px 60px;
    border: 1px solid $color-4;
    color: $color-2;
    &:hover {
      color: $font-color-2;
      background-color: $color-4;
    }
  }

  &.-centered {
    display: flex;
    align-self: center;
  }
}

.btn-info {
  color: $white;
  background-color: $color-4;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  padding: 0;
  line-height: 17px;
  text-align: center;
  font-weight: 700;
}

.btn-drop-down {
  position: relative;
  width: 100%;
  height: rem(45px);
  margin: 0 6%;
  border: 1px solid $color-4;

  @media screen and (min-width: $screen-m) {
    margin: rem(12px) 6%;
  }

  &.btn {
    text-align: left;
  }

  &.-min-width {
    min-width: rem(120px);
    margin-left: 0;


    @media screen and (min-width: $screen-m) {
      min-width: rem(210px);
      width: auto;
    }
  }

  .-selectors & {
    //This is for compare page. Do not change unless you know what are you doing.
    @media screen and (min-width: 768px) {
      margin: rem(12px) 6%;
    }
  }

  .-year & {
    margin-right: 9%;

    @media screen and (min-width: 768px) {
      margin: rem(12px) 6%;
    }
  }

  .-data & {
    margin-top: 0;

    @media screen and (min-width: $screen-m) {
      margin-top: rem(12px);
    }
  }

  select {
    padding: rem(12px) 3%;
    padding-right: 15%;
    width: 100%;

    @media screen and (min-width: $screen-m) {
      padding-right: 5%;
    }

    &:hover {
      color: $color-4;
    }
  }

  .chzn-container,
  .chzn-container-single .chzn-single {
    height: rem(43px);
    line-height: rem(43px);
    span:hover {
      color: $color-4;
    }
  }

  &:after {
    content: "";
    @extend %centery;
    @include arrow (5px, $color-2, 2px, 225deg);
    top: 40%;
    right: rem(20px);
    pointer-events: none;

    @media screen and (min-width: $screen-s) {
      right: rem(10px);
    }

    @media screen and (min-width: $screen-l) {
      right: rem(20px);
    }

  }

  &.-sm {
    margin: 0;

    @media screen and (min-width: $screen-m) {
      min-width: rem(200px);
      padding-left: 0;
      padding-right: 0;

      .chzn-container-single .chzn-drop {
        width: 100% !important;
        transform: translatey(2px);
      }
    }
  }
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  margin-right: rem(20px);
  margin-top: rem(20px);

  cursor: pointer;
  font-family: $font-main;
  font-weight: bold;
  color: $color-4;
  font-size: rem(20px);

  width: rem(24px);
  height: rem(24px);
  line-height: 18px;
  border-radius: 50%;
  text-align: center;
  border: 2px solid $color-4;

  &.-color-1 {
    color: $color-1;
    border-color: $color-1;
  }
}
