.btn {
  font-size: rem(11px);
  font-family: $font-secondary;
  text-transform: uppercase;
  display: flex; display: -ms-box;
  align-items: center;
  text-align: center;

  &.-white {
    display: inline-block;
    padding: 20px 60px;
    border: 1px solid $white;
    color: $white;
  }

  &.-primary {
    display: inline-block;
    padding: 20px 60px;
    border: 1px solid $color-1;
    color: $color-1;
  }

  &.-secondary {
    display: inline-block;
    padding: 20px 60px;
    border: 1px solid $color-4;
    color: $color-2;
  }
}

.btn-info {
  color: $white;
  background-color: $color-4;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  padding: 0;
  line-height: 17px;
  text-align: center;
  font-weight: 700;
}

.btn-drop-down {
  position: relative;
  width: 88%;
  height: rem(45px);
  // min-width: rem(210px);
  margin: rem(12px) 6%;
  border: 1px solid $color-4;

  &.-min-width {
    min-width: rem(150px);
    margin-left: 0;
    

    @media screen and (min-width: $screen-m) {
      min-width: rem(210px);
      width: auto;
    }
  }

  select {
    padding: rem(12px) 3%;
    padding-right: 5%;
    width: 100%;
  }

  .chzn-container,
  .chzn-container-single .chzn-single {
    height: rem(43px);
    line-height: rem(43px);
  }

  &:after {
    content: "";
    @extend %centery;
    @include arrow (5px, $color-2, 2px, 225deg);
    top: 40%;
    right: rem(20px);
    pointer-events: none;
  }

  &.-sm {
    margin: 0;
    @media screen and (min-width: $screen-m) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  margin-right: rem(20px);
  margin-top: rem(20px);

  cursor: pointer;
  font-family: $font-main;
  font-weight: bold;
  color: $color-4;
  font-size: rem(30px);

  width: rem(35px);
  height: rem(35px);
  line-height: 28px;
  border-radius: 50%;
  text-align: center;
  border: 2px solid $color-4;

  &.-color-1 {
    color: $color-1;
    border-color: $color-1;
  }

  @media screen and (min-width: $screen-s) {
    font-size: rem(20px);
    width: rem(24px);
    height: rem(24px);
    line-height: 18px;
  }
}
