.btn {
  // width: 100%;
  font-size: rem(11px);
  font-family: $font-secondary;
  text-transform: uppercase;
  display: flex; display: -ms-box;
  align-items: center;
  text-align: center;

  .button-literal {
    display: none;
  }

  .icon {
    display: inline-block;
    vertical-align: middle;
  }

  > span,
  .button-literal {
    color: $font-color-3;
  }

  &.is-active {
    > span,
    .button-literal {
      color: $font-color-1;
    }

    &:hover {
      color: $font-color-1;

      > span,
      .button-literal {
        color: $font-color-1;
      }
    }
  }

  &:hover {
    color: $color-4;

    > span,
    .button-literal {
      color: $color-4;
    }
  }

  &.-white {
    display: inline-block;
    padding: 20px 60px;
    border: 1px solid $white;
    color: $white;

    > span,
    .button-literal {
      color: $white;
    }

    &:hover {
      color: $font-color-3;
      background-color: $white;

      > span,
      .button-literal {
        color: $font-color-3;
      }
    }
  }

  &.-primary {
    display: inline-block;
    padding: 20px 60px;
    border: 1px solid $color-1;
    color: $color-1;

    > span,
    .button-literal {
      color: $color-1;
    }
  }

  &.-secondary {
    display: inline-block;
    padding: 20px 60px;
    border: 1px solid $color-4;
    color: $color-2;

    > span,
    .button-literal {
      color: $color-2;
    }

    &:hover {
      color: $font-color-2;
      background-color: $color-4;

      > span,
      .button-literal {
        color: $font-color-2;
      }
    }
  }

  &.-centered {
    display: flex;
    align-self: center;
  }

  > span,
  .button-literal {
    padding: 0;
  }

  &.js--download,
  &.js--print,
  &.js--share,
  &.compare-link {
    margin-right: rem(20px);

    &:last-child {
      margin-right: 0;
    }

    // @media screen and (min-width: 768px) {
    //   margin-right: rem(10px);
    // }
  }

  @media screen and (min-width: 320px) {
    width: auto;
  }

  @media screen and (min-width: 768px) {
    .button-literal {
      display: inline-block;
      margin-left: rem(5px);
    }
  }

  @media screen and (min-width: $screen-m) {
    font-size: rem(11px);
  }

  &.btn-layout-dashboard, 
  &.btn-layout-list {
    .button-literal {
      display: none;
    }

    @media screen and (min-width: 768px) {
      .button-literal {
        display: none;
      }

      @media screen and (min-width: 800px) {
        display: inline-block;
      }
    }
  }

  @media screen and (min-width:  $screen-l) {
    .button-literal {
      display: inline-block;
      margin-left: rem(10px);
    }
  }
}

.btn-info {
  color: $white;
  background-color: $color-4;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  padding: 0;
  margin-left: rem(8px);
  line-height: 17px;
  text-align: center;
  font-weight: 700;
  &:hover {
    background-color: #5DE8FF;
  }
}

.btn-drop-down {
  position: relative;
  font-size: rem(16px);
  line-height: rem(16px) !important;
  width: 100%;
  height: rem(45px);
  // margin: 0 6%;
  border: 1px solid $color-4;

  @media screen and (min-width: $screen-m) {
    font-size: rem(11px);
    line-height: rem(11px) !important;
    // margin: rem(12px) 6%;
  }

  &.btn {
    text-align: left;
  }

  &.-min-width {
    min-width: rem(120px);
    margin-left: 0;


    @media screen and (min-width: 768px) {
      min-width: rem(210px);
      width: auto;
    }
  }

  .-selectors & {
    //This is for compare page. Do not change unless you know what are you doing.
    @media screen and (min-width: 768px) {
      margin: rem(12px) 15px;
    }

    @media screen and (min-width: $screen-l) {
      margin: rem(12px) 20px;
    }
  }

  .-year & {
    margin-right: 9%;

    @media screen and (min-width: 768px) {
      margin-right: 0;
      margin: rem(12px) 6%;
    }
  }

  .-data & {
    margin-top: 0;

    @media screen and (min-width: 768px) {
      // margin-top: rem(12px);
    }
  }

  select {
    padding: rem(12px) 3%;
    padding-right: 15%;
    width: 100%;
    line-height: rem(16px) !important;

    @media screen and (min-width: $screen-m) {
      line-height: rem(11px) !important;
      padding-right: 5%;
    }

    &:hover {
      color: $color-4;
    }
  }

  .chzn-container,
  .chzn-container-single .chzn-single {
    height: rem(43px);
    line-height: rem(43px);
    span:hover {
      color: $color-4;
    }
  }

  &:after {
    content: "";
    @extend %centery;
    @include arrow (5px, $color-2, 2px, 225deg);
    top: 40%;
    right: rem(20px);
    pointer-events: none;

    @media screen and (min-width: $screen-s) {
      right: rem(10px);
    }

    @media screen and (min-width: $screen-l) {
      right: rem(20px);
    }

  }

  &.js--btn-ranking {
    padding-left: rem(10px);

    // @media screen and (min-width: 768px) {
    //   padding-left: rem(20px);
    // }
  }

  &.-sm {
    margin: 0;

    @media screen and (min-width: $screen-m) {
      min-width: rem(200px);
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.l-banner .btn-drop-down .chzn-container-single .chzn-drop {

  @media screen and (min-width: $screen-m) {
    width: 100% !important;
    transform: translatey(2px);
  }
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  margin-right: rem(20px);
  margin-top: rem(20px);

  cursor: pointer;
  font-family: $font-main;
  font-weight: bold;
  color: $color-4;
  font-size: rem(20px);

  width: rem(24px);
  height: rem(24px);
  line-height: 18px;
  border-radius: 50%;
  text-align: center;
  border: 2px solid $color-4;

  &.-color-1 {
    color: $color-1;
    border-color: $color-1;
  }
}

.read-more,
.read-less {
  position: relative;
  margin-left: 10px;
  font-family: "Montserrat";
  font-size: rem(11px);
  text-transform: uppercase;
  color: $font-color-3;
  cursor: pointer;
  white-space: nowrap;
  &:hover {
    color: $color-4;
    &:after {
      border-color: $color-4;
    }
  }
}

.read-more:after,
.read-less:after {
  content: '';
  position: absolute;
}

.read-more:after {
  top: 0;
  right: -15px;
  @include arrow (5px, $color-2, 2px, 225deg);
  transform: rotate(225deg) translate(0, -50%);
}

.read-less:after {
  top: 50%;
  right: -10px;
  @include arrow (5px, $color-2, 2px, 45deg);
  transform: rotate(45deg) translate(0, -50%);
}
