.c-brand {
  display: flex; display: -ms-box;
  align-items: center;
  justify-content: center;
  width: 100%;

  &:hover {
    background-color: lighten($bg-color-2, 5);
  }

  .welcome & {
    pointer-events: none;
    cursor: default;

    &:hover {
      background-color: $bg-color-2;
    }
  }

  img {
    width: rem(40px);
    height: rem(40px);
  }

  @media screen and (min-width: $screen-m) {
    @include col(3);
    justify-content: flex-start;
    padding-left: rem($wrap-padding-desktop);

    &.-expanded {
      justify-content: center;
      padding: 0;
      max-width: 100%;
    }

    img {
      width: auto;
      height: auto;
      padding-right: rem(20px);
    }
  }

  @media screen and (min-width: $screen-l) {
    justify-content: center;
    padding: 0 rem($wrap-padding-tablet);

    &:hover {
      max-width: 100%;
      padding: 0;
    }

    img {
      padding: 0;
    }
  }
}
