.c-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  img {
    width: rem(50px);
    height: rem(50px);
  } 

  @media screen and (min-width: $screen-m) {
    @include col(4);
    justify-content: flex-start;
    padding-left: rem($wrap-padding);

    &.-expanded {
      justify-content: center;
      padding-left: 0;
    }

    img {
      width: auto;
    }
  }
}