.c-section-title {
  position: relative;
  padding-bottom: rem(50px);
  margin-bottom: rem(50px);
  font-size: rem(12px);
  color: $font-color-1;
  font-family: $font-secondary;
  text-transform: uppercase;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: rem(60px);
    height: rem(2px);
    background-color: $color-2;
  }
}