.c-section-title {
  position: relative;
  padding-bottom: rem(20px);
  margin-bottom: rem(40px);
  font-size: rem(40px);
  font-weight: 400;
  color: $font-color-1;
  line-height: 1em;

  span {
    display: block;
    margin-top: rem(10px);
    font-size: rem(15px);
    font-weight: 400;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: rem(60px);
    height: rem(3px);
    background-color: $color-4;
  }

  &.-small {
    margin-bottom: rem(20px);
    font-size: rem(12px);
    font-family: $font-secondary;
    text-transform: uppercase;
  }

  &.-light {
    color: $font-color-2;
    margin-bottom: rem(60px);

    &:after {
      background-color: $white;
    }
  }

  &.-country-name {
    padding-bottom: rem(20px);
    margin-bottom: 0;
  }

  + p {
    margin-top: rem(20px);
  }

  @media screen and (min-width: $screen-m) {
    font-size: rem(45px);
    margin-bottom: rem(50px);
    padding-bottom: rem(50px);

    // &.-country-name {
    //   padding-bottom: rem(40px);
    // }
  }

  @media screen and (min-width: $screen-l) {
    font-size: rem(50px);
    padding-bottom: rem(50px);
    margin-bottom: rem(60px);
    line-height: 1.2em;

    &.-small {
      margin-bottom: rem(50px);
    }

    + p {
      margin-top: rem(50px);
    }
  }
}
