.c-tooltip {
  display: inline-block;

  > .pop-up-legend-container {
    display: none;
    position: relative;

    .btn-info {
      margin: 0;
    }

    > .pop-up-legend {
      z-index: 1;
      position: absolute;
      top: rem(37px);
      left: 0;
      transform: translate(-50%, 0);
      width: rem(450px);
      padding: rem(40px) rem(30px);
      background-color: #eeedea;
      box-shadow: 0 0 4px rgba(91, 91, 91, .3);
      &:before {
        content: '';
        position: absolute;
        top: rem(-12px);
        left: calc(50% + 7px);
        transform: translate(-50%, 0);
        @include equi-triangle(rem(12px), #eeedea, top);
      }

      > p {
        font-size: rem(12px);
        line-height: rem(18px);
        letter-spacing: rem(0.4px);
        color: #5b5b5b;
        margin: rem(7px) 0;
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }

      @media screen and (min-width: $screen-s) {
        left: 0;
        right: 0;
      }
    }
    @media screen and (min-width: $screen-s) {
      display: block;
    }
  }
}
