.c-title {
  font-size: rem(35px);
  margin-bottom: rem(25px);
  font-family: $font-main;
  font-weight: 400;
  color: $font-color-2;

  @media screen and (min-width: $screen-s) {
    font-size: rem(38px) !important;
    margin-bottom: rem(30px);
  }

  @media screen and (min-width: $screen-s) {
    font-size: rem(50px) !important;
  }

  @media screen and (min-width: $screen-m) {
    font-size: rem(55px) !important;
    line-height: rem(62px);
    margin-bottom: rem(35px);
  }

  @media screen and (min-width: $screen-xl) {
    font-size: rem(75px) !important;
    line-height: rem(91px);
  }

  &.-medium {
    font-size: rem(50px);
  }
}
