.c-title {
  font-size: rem(35px);
  margin-bottom: rem(25px);
  font-family: $font-main;
  font-weight: 400;
  color: $font-color-2;

  @media screen and (min-width: $screen-xs) {
    font-size: rem(38px);
    margin-bottom: rem(30px);
  }

  @media screen and (min-width: $screen-s) {
    font-size: rem(50px);
  }

  @media screen and (min-width: $screen-m) {
    font-size: rem(60px);
    margin-bottom: rem(35px);
  }

  &.-medium {
    font-size: rem(50px);
  }
}
