.icon {
  fill: $color-4;

  &.-regular {
    width: 22px;
    height: 20px;
  }
  
  .is-active & {
    fill: $font-color-1;
  }
}

.icon-mouse {
  display: block;
  width: rem(14px);
	height: rem(24px);
	fill: currentColor;
}
