.icon {
  fill: $color-4;

  &.-regular {
    width: 20px;
    height: 20px;
  }

  &:hover {
    fill: $font-color-1;
  }

  .is-active & {
    fill: $font-color-1;
  }
}

.icon-mouse {
  display: block;
	width: 1em;
	height: 1em;
	fill: currentColor;
	width: 0.5830078125em;
}
