<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="welcome">
    {% include icons.html %}
    <div class="l-main-container"> 
      {% include header.html %}

      <div class="l-banner -section-2 promoInteriores-About">
        <div class="m-breadcrumbs  -light">
          <ul>
            <li><a href="/">home </a></li>
            <li><span> / </span></li>
            <li> about </li>
          </ul>
        </div>

        <div class="wrap">
          <h1 class="c-section-title -light">{{ page.title }}</h1>
          <p>{{ page.intro-text }}</p>
        </div>
      </div>

      <div class="l-content -main">
        <div class="wrap">
          <div class="m-static-content">
            {{ content }}
          </div>
        </div>
      </div>

      {% include footer.html %}
    </div>
    <script src="js/bundle.js"></script>
  </body>

</html>