<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include icons.html %}
    
    <div class="l-main-container"> 
      {% include header.html %}

      <div class="l-banner -section-2 promoInteriores-CompareCountries">
        <div class="m-breadcrumbs -light">
          <ul>
            <li><a href="/">home </a></li>
            <li><span> / </span></li>
            <li> {{ page.page-name }} </li>
          </ul>
        </div>

        <div class="wrap">

          <h1 class="c-section-title -light">{{ page.page-name }}</h1>
          <p>{{ page.intro-text }}</p>
        </div>
      </div>
      
      <div class="js--compare-container"></div>
      <script src="js/compare_bundle.js"></script>

      {% include modules/about_module.html %}
      {% include footer.html %}
    </div>
    <script src="js/bundle.js"></script>
  </body>

</html>

