.l-banner {

  &.-main {
    padding: rem(100px) 0 rem(140px);
    background-color: #ccc; 

    p {
      color: $font-color-2;
      margin-bottom: rem(35px);
    }
  }

  &.-section-1 {
    padding: rem(100px) 0 rem(60px);
    background-color: #ccc; 
  }

  &.-detail {
    display: flex;
    height: rem(320px);
    background-color: $bg-color-1;
    border-bottom: 1px solid $border-1;

    > .wrap {
      display: flex;
      align-items: center;
    }
  }
}