.l-content {
  //Countries list
  padding: rem(40px) 0;
  border-bottom: 1px solid $border-1;

  &:nth-child(2n + 1) {
    background-color: $bg-color-1;
  }

  &.-dark {
    background-color: $bg-color-1;
  }

  &.-fullscreen {
    padding: 0;
    background-color: transparent;
  }

  &.-fixed {
    margin-top: rem(70px);
  }

  @media screen and (min-width: $screen-s) {
    padding: rem(100px) 0 rem(120px);
  }
}
