.l-footer {
  background-color: $color-1;

  > .wrap {
    display: flex;
    flex-direction: column;
    padding: rem(20px) 0;
    align-items: center;
  }

  @media screen and (min-width: $screen-m) {

    > .wrap {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
