$footer-desktop-height: rem(210px);
$footer-height: rem(375px);

.l-footer {
  position: relative;
  height: $footer-height;

  display: flex; display: -ms-box;
  flex-direction: column;
  align-items: stretch;

  @media screen and (min-width: $screen-m) {
    height: $footer-desktop-height;
    flex-direction: row;
  }

  @media screen and (min-width: $screen-l) {
    height: rem(245px);
  }

  .l-brand {
    display: flex; display: -ms-box;
    order: 2;
    height: rem(130px);
    flex-basis: 33.33%;
    justify-content: flex-end;
    background-color: $bg-color-2;

    @media screen and (min-width: $screen-m) {
      order: 1;
      height: $footer-desktop-height;
    }

    @media screen and (min-width: $screen-l) {
      height: rem(245px);
    }
  }

  .l-menus {
    flex-basis: 66.66%;
    display: flex; display: -ms-box;
    align-items: stretch;
    justify-content: center;
    padding: rem(60px) 0;
    height: $footer-desktop-height;

    .menus-wrapper {
      @include col(5);
      display: flex; display: -ms-box;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;

      @media screen and (min-width: $screen-l) {
        padding: 0;
      }
    }

    p {
      font-size: rem(14px);
    }

    @media screen and (min-width: $screen-m) {
      padding: rem(45px) 0 rem(35px) 0;
      order: 2;

      .menus-wrapper {
        align-items: flex-end;
        padding-right: rem($wrap-padding-desktop);
      }
    }

    @media screen and (min-width: $screen-l) {
      height: rem(245px);
      padding: rem(60px) 0;

      &.-footer {
        justify-content: flex-end;
      }
    }

    @media screen and (min-width: $screen-xl) {

    }
  }

  .footer-info {
    display: flex; display: -ms-box;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $screen-m) {
      flex-direction: row;
      align-items: flex-end
    }

    @media screen and (min-width: $screen-xl) {

    }
  }

  .creative-common-logo {
    height: rem(20px);

    img {
      height: rem(20px);
    }
  }
}
