$footer-desktop-height: rem(245px);
$footer-height: rem(375px);

.l-footer {
  position: relative;
  height: $footer-height;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  @media screen and (min-width: $screen-m) {
    height: $footer-desktop-height;
    flex-direction: row;
  }

  .l-brand {
    display: flex;
    order: 2;
    height: rem(130px);
    flex-basis: 33.33%;
    justify-content: flex-end;
    background-color: $bg-color-2;

    @media screen and (min-width: $screen-m) {
      order: 1;
      height: $footer-desktop-height;
    }
  }

  .l-menus {
    flex-basis: 66.66%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: rem(60px) 0;
    height: rem(250px);

    .menus-wrapper {
      @include col(5);
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
    }

    p {
      font-size: rem(14px);
    }

    @media screen and (min-width: $screen-m) {
      padding: rem(75px) 0;
      order: 2;

      .menus-wrapper {
        align-items: flex-end;
        padding-right: rem($wrap-padding);
      }
    }
  }
  
  .footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $screen-m) {
      flex-direction: row;
    }
  }

  .creative-common-logo {
    height: rem(20px);

    img {
      height: rem(20px);
    }
  }
}

