//TODO unify header and footer
$header-height: rem(95px);

.l-header {
  height: $header-height;

  display: flex;
  align-items: stretch;

  .l-brand {
    display: flex;
    width: rem(95px);
    background-color: $bg-color-2;

    @media screen and (min-width: $screen-m) {
      flex-basis: 33.33%;
      justify-content: flex-end;
      width: auto;
    }
  }

  .l-menus {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    width: 100%;

    .menus-wrapper {
      // display: none;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      width: 90%;
      background-color: $bg-color-4;
      transition: all .2s ease-in;
      transform: translatex(100%);

      &.is-open {
        transform: translatex(0);
      }
    }

    .scroll-wrapper {
      position: absolute;
      top: rem(60px);
      bottom: rem(60px);
      left: 0;
      right: 0;
      padding: 0 rem(40px);
      overflow-y: scroll; 
    }

    @media screen and (min-width: $screen-m) {
      display: flex;
      align-items: flex-end;
      padding-right: rem($wrap-padding);
      flex-basis: 66.66%;

      .menus-wrapper {
        @include col(7);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
