$backgrounds-highlight: 'distribuidorDestacado-About', 'distribuidorDestacado-Countries', 'distribuidorDestacado-About02';

.l-highlight {
  position: relative;
  padding: rem(100px) 0;
  background-color: #ccc;
  min-height: rem(600px);

  @media screen and (min-width: $screen-xs) {

    .m-presentation {
      max-width: 100%;
      > .c-title {
        font-size: rem(35px);
      }
      > p + .btn {
        margin-top: rem(35px);
      }
    }
  }


  @for $i from 1 through length($backgrounds-highlight) {
    &.#{nth($backgrounds-highlight, $i)}{
      background-image: url('img/#{nth($backgrounds-highlight, $i)}.jpg');
      background-size: cover;
      background-position: center;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(65, 52, 43, 0.5);
      }
    }
  }
}
