//TODO unify header and footer
$header-height: rem(95px);

.l-header {
  height: $header-height;

  display: flex;
  align-items: stretch;

  .l-brand {
    display: flex;
    width: rem(95px);
    background-color: $bg-color-2;

    @media screen and (min-width: $screen-m) {
      flex-basis: 33.33%;
      justify-content: flex-end;
      width: auto;
    }
  }

  .l-menus {
    flex-basis: 66.66%;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;

    .menus-wrapper {
      @include col(7);
      padding-right: rem($wrap-padding);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}
