$backgrounds-presentation: 'distribuidoresMul-01', 'distribuidoresMul-03', 'distribuidoresMul-04';

.l-presentation {
  position: relative;
  display: flex;

  > .intro {
    position: relative;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: rem(80px) 0 rem(140px);
    background-color: $white;

    &.-dark {
      padding-top: rem(160px);
      background-color: $bg-color-2;
    }

    &.-right:after {
      content: "";
      position: absolute;
      top: rem(40px);
      left: rem(-15px);
      @include equi-triangle(rem(15px), $white, left);
    }

    &.-left:after {
      content: "";
      position: absolute;
      top: rem(40px);
      right: rem(-15px);
      z-index: 1;
      @include equi-triangle(rem(15px), $white, right);
    }
  }

  > .picture {
    position: relative;
    flex-basis: 100%;
    background-color: #ddd;

    @for $i from 1 through length($backgrounds-presentation) {
      &.#{nth($backgrounds-presentation, $i)}{
        background-image: url('img/#{nth($backgrounds-presentation, $i)}.jpg');
        background-size: cover;
        background-position: center;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgba(65, 52, 43, 0.5);
        }
      }
    }
  }

  @media screen and (min-width: $screen-xs) {
    flex-direction: column;

    .distribuidoresMul-01 {
      display: none;
    }

    > .intro {
      &.-right:after,
      &.-left:after {
        top: rem(-30px);
        left: rem(17px);
        @include equi-triangle(rem(15px), $white, top);
      }
    }

    > .picture {
      height: 195px;
    }

    &.-mobile-reverse {
      flex-direction: column-reverse;
      // > .-left:after {

      // }
    }
  }
}
