$backgrounds-presentation: 'distribuidoresMul-01', 'distribuidoresMul-03', 'distribuidoresMul-04';

.l-presentation {
  position: relative;

  > .picture {
    height: rem(195px);
  }

  &.-mobile-reverse {
    flex-direction: column-reverse;
  }

  > .intro {
    position: relative;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: rem(35px) rem($wrap-padding-mobile);
    background-color: $white;

    &.-dark {
      background-color: $bg-color-2;
    }

    &.-right:after,
    &.-left:after {
      content: "";
      position: absolute;
      top: rem(-15px);
      left: rem(30px);
      z-index: 1;
      @include equi-triangle(rem(15px), $white, top);
    }
  }

  > .picture {
    position: relative;
    flex-basis: 50%;
    background-color: #ddd;

    @for $i from 1 through length($backgrounds-presentation) {
      &.#{nth($backgrounds-presentation, $i)}{
        background-image: url('img/#{nth($backgrounds-presentation, $i)}.jpg');
        background-size: cover;
        background-position: center;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgba(65, 52, 43, 0.5);
        }
      }
    }
  }

  @media screen and (min-width: $screen-s) {
    > .picture {
      height: rem(328px);
    }

    > .intro {
      padding: rem(60px) rem($wrap-padding-tablet) rem(50px);
    }
  }

  @media screen and (min-width: 768px) {
    > .intro {
      padding: rem(60px) rem($wrap-padding-desktop) rem(50px);
    }
  }

  @media screen and (min-width: $screen-l) {
    display: flex;
    display: -ms-box;
    flex-direction: row;

    > .picture {
      height: auto;
    }

    > .intro {

       &.-left,
       &.-right {
         padding: rem(75px) rem($wrap-padding-desktop);
       }

      &.-right:after {
        top: rem(40px);
        left: rem(-30px);
        z-index: 1;
        @include equi-triangle(rem(15px), $white, left);
      }

      &.-left:after {
        top: rem(40px);
        right: rem(-30px);
        left: auto;
        z-index: 1;
        @include equi-triangle(rem(15px), $white, right);
      }
    }

    &.-reverse {
      flex-direction: row-reverse;
    }
  }

  @media screen and (min-width: $screen-xl) {

    > .intro {
      padding: rem(75px) rem($wrap-padding-desktop-xl) rem(100px);

      &.-left {
        align-items: flex-end;
      }

      &.-dark {
        padding: rem(170px) 0;
      }
    }
  }
}
