.l-toolbar  {
  position: relative;
  z-index: 10;
  display: flex; display: -ms-box;
  height: auto;
  padding: rem(20px) 0;
  background-color: $bg-color-4;
  border-bottom: 1px solid $border-1;

  @media screen and (min-width: $screen-s) {
    padding: rem(10px) 0;
  }

  @media screen and (min-width: 768px) {
    &.-country {
      padding: 0;
    }
  }

  .wrap {
    display: flex;
    display: -ms-box;
    flex: 1 1 100%;
    justify-content: space-between;
    flex-direction: column;
    min-height: rem(105px);

    @media screen and (min-width: $screen-s) {
      flex-direction: row;
      min-height: 0;
    }
  }

  .js--legend {
    display: flex;
    flex: 1 1 80%;


    @at-root {
      .l-toolbar:not(.-footer) .js--legend {
        padding-bottom: 20px;

        @media screen and (min-width: $screen-s) {
          padding-bottom: 0;
        }
      }
    }
  }

  .js--toolbar-utils {
    display: flex;
    flex: 1 1 100%;
    height: rem(56px);

    @media screen and (min-width: $screen-s) {
      max-width: 50%;
    }

    @media screen and (min-width: 768px) {
      max-width: rem(500px);
      height: rem(70px);
    }
  }

  .js--toolbar-display {
    display: none;
    height: rem(56px);

    @media screen and (min-width: 768px) {
      display: flex;
      flex: 1 1 100%;
      max-width: rem(120px);
      height: rem(70px);
      margin-left: rem(20px);
    }

    @media screen and (min-width: 960px) {
      max-width: rem(235px);
    }

    @media screen and (min-width: $screen-l) {
      max-width: rem(250px);
    }
  }

  &.-data {
    .wrap {
      min-height: rem(160px);

      @media screen and (min-width: $screen-s) {
        min-height: 0;
      }
    }
  }

  &.-blog {

    .wrap {
      flex-direction: row;
      min-height: rem(40px);

      .btn {
        width: auto;
        // margin-left: rem(20px);

        @media screen and (min-width: 768px) {
          margin-left: auto;
        }
      }
    }
  }


  &.-pagination {
    padding: rem(10px) 0;
    height: auto;

    @media screen and (min-width: $screen-s) {
      height: rem(56px);
    }

    @media screen and (min-width: 768px) {
      height: auto;
    }

    .wrap {
      flex-wrap: wrap;

      @media screen and (min-width: $screen-s) {
        flex-wrap: nowrap;
      }
    }

    .c-share {
      width: 100%;

      @media screen and (min-width: 768px) {
        width: rem(90px);
      }
    }
  }


  &.-compare-year-and-legend {
    height: rem(65px);
    z-index: 10;

    &.-mobile {
      padding-top: rem(10px);
    }

    .m-compare-selectors {
      justify-content: space-between;
    }
  }

  &.-compare-legend {
    padding: 0;
    height: rem(65px);

    .wrap {
      padding: 0 rem(10px);
      max-width: 100%;

      @media screen and (min-width: $screen-l) {
        padding: 0 rem($wrap-padding-desktop);
      }

      @media screen and (min-width: $screen-xl) {
        padding: 0 rem($wrap-padding-desktop-xl);
      }
    }
  }


  &.-compare {
    transform: translate(0,0);
    padding-bottom: rem(10px);

    .wrap {
      display: flex;
      display: -ms-box;
      align-items: initial;
      justify-content: initial;
      padding: 0 rem(10px);

      @media screen and (min-width: $screen-l) {
        padding: 0 rem($wrap-padding-desktop);
      }

      @media screen and (min-width: $screen-xl) {
        padding: 0 rem($wrap-padding-desktop-xl);
      }
    }

    &.-fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 5;
      padding-top: 1.5rem;
    }

    &.-hide-transition {
      transform: translate(0, -100%);
    }

    @media screen and (min-width: 768px) {
      padding-top: 0;
      padding-bottom: 0;

      &.-fixed {
        padding-top: 0;
      }
    }
  }

  &.-footer {
    border-top: 1px solid $border-1;
    padding: rem(10px) 0;

    @media screen and (min-width: 768px) {
      padding: rem(25px) 0;
    }

    .wrap {
      min-height: 0;
      flex-direction: row;
    }
  }

  &.-no-border-bottom {
    @media screen and (min-width: 768px) {
      border-bottom: 0;
    }
  }
}
