.l-toolbar  {
  position: relative;
  z-index: 1;
  display: flex; display: -ms-box;
  background-color: $bg-color-4;
  border-bottom: 1px solid $border-1;

  height: auto;
  padding-bottom: .5rem;
  padding-top: .5rem;

  @media screen and (min-width: $screen-m) {
    height: rem(70px);
    padding-top: 0;
    padding-bottom: 0;
  }

  .wrap {
    display: flex; display: -ms-box;
    justify-content: space-between;

    > .js--toolbar-utils {
      display: flex; display: -ms-box;
      width: 100%;
    }

    > .js--toolbar-display {
      display: none;
    }
  }

  &.-share {
    background-color: $white;

    .wrap {
      justify-content: center;
    }
  }

  &.-selectors {
    // transition: all .3s;
    transform: translate(0,0);

    .wrap {
      display: flex; display: -ms-box;
      align-items: initial;
      justify-content: initial;
    }

    &.-fixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 2;
      padding-top: 1.5rem;
      padding-bottom: 0;

      @media screen and (min-width: $screen-m) {
        padding-top: 0;
      }
    }

    &.-hide-transition {
      transform: translate(0, -100%);
    }
  }

  &.-pagination {
    border-top: 1px solid $border-1;
    background-color: transparent;
  }

  &.-year-selector {
    z-index: 10;
    background-color: $bg-color-1;
  }

  &.-data {
    .js--print, .js--print + span,
    .js--share, .js--share + span,
    .js--download + span {
      display: none;
    }

    .js--toolbar-utils {
      order: 1;
      margin-left: 0;
    }

    @media screen and (min-width: $screen-m) {
      .wrap {
        // flex-direction: column;
        // justify-content: center;
      }

      .js--toolbar-utils {
        order: 3;
        margin-left: 5%;
      }
    }

  }

  &.-footer {
    height: auto;
    background-color: $white;

    .js--download,
    .js--download + span,
    .compare-link,
    .compare-link + span{
      display: none;
    }

    .wrap {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &.-blog {
    .js--print, .js--print + span {
      display: none;
    }
  }

  @media screen and (min-width: $screen-m) {

    .wrap {

      > .js--toolbar-utils {
        width: 60%;
        margin-left: 2%;
      }

      > .js--toolbar-display {
        display: flex;
      }
    }

    &.-footer {
       height: rem(70px);

      .wrap {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        > .js--toolbar-utils {
          width: auto;
        }
      }
    }
  }
}
