/*
 * Reset chosen. Just in case you are using
 * chosen.js.
 */
.chzn-container-single .chzn-single {
  color: $font-color-3;
  background-image: none;
  background-color: transparent;
  border-radius: 0;
  border: none;
  box-shadow: none;
  font-size: 12px;
  font-family: $font-secondary;
}

.chzn-container-single .chzn-drop {
  width: 100% !important;
  border-radius: 0;
  border-color: $color-2;
  background-color: $bg-color-4;
  transform: translatey(12px);
  font-family: $font-secondary;
}

.chzn-container {
  width: 100% !important;
}

.chzn-container-single .chzn-single {
  line-height: 28px;

  @media screen and (max-width: $screen-m) {
    padding: 0;

    span {
      padding: 0;
    }
  }
}

.chzn-container-single .chzn-search input {
  width: 100% !important;
  background: none;
  border-color: $bg-color-3;
}

.chzn-container .chzn-results .active-result {
  color: $font-color-1;
  font-family: $font-secondary;

  &.highlighted {
    color: $font-color-1;
    background: none;
    background-color: $bg-color-3;
  }
}

.chzn-container-single .chzn-single span {
  text-transform: uppercase;
  color: $font-color-3;
}
