* {
  box-sizing: border-box;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: $font-main, Helvetica, Arial, sans-serif;
  color: $font-color-1;
  font-size: rem(15px);
  background-color: #eee;
  -webkit-font-smoothing: antialiased;

  @media screen and (min-width: $screen-s) {
    font-size: $font-size;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;

  + .btn {
    margin-top: rem(20px);
  }

  @media screen and (min-width: $screen-xs) {

    + .btn {
      margin-top: rem(40px);
    }
  }

  @media screen and (min-width: $screen-m) {
    line-height: 1.5em;
  }

  @media screen and (min-width: $screen-xl) {
    line-height: 1.8em;
  }
}

p {
  line-height: 1.5em;

  + .btn {
    margin-top: rem(20px);
  }

  @media screen and (min-width: $screen-xs) {
    line-height: 1.8em;

    + .btn {
      margin-top: rem(40px);
    }
  }
}

a, button, input, select, textarea {
  &:focus {
    outline: 0;
  }
}

a, button {
  text-decoration: none;
  color: $font-color-3;
  font-size: rem(15px);
}

ul {
  @extend %list-reset;
}

button {
  @extend %clean-button-or-input;
}

svg:not(:root) {
  overflow: visible;
}
////////////////////
//**** utils  ****//
////////////////////
.is-flex {
  display: flex; display: -ms-box;
  display: -ms-box;
}

.is-bold {
  font-weight: bold;
}

.is-small-text {
  font-size: rem(15px);

  p + & {
    margin-top: rem(20px);
  }

  @media screen and (min-width: $screen-xs) {
    p + & {
      margin-top: rem(50px);
    }
  }
}
