* {
  box-sizing: border-box;
}

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

body {
  margin: 0;
  font-family: $font-main, Helvetica, Arial, sans-serif;
  color: $font-color-1;
  font-size: $font-size;
  background-color: #eee;
  -webkit-font-smoothing: antialiased;
}

p {
  line-height: 1.8em;

  + .btn {
    margin-top: rem(60px);
  }
}

a, button, input, select, textarea {
  &:focus {
    outline: 0;
  }
}

a {
  text-decoration: none;
  color: $font-color-3;
  font-size: rem(14px);
}

ul {
  @extend %list-reset;
}

////////////////////
//**** utils  ****//
////////////////////
.is-flex {
  display: flex;
  display: -ms-box;
}

.is-bold {
  font-weight: bold;
}
