<div class="l-highlight distribuidorDestacado-About02">
  <div class="wrap">  
    <div class="m-highlight">
      <h2 class="c-block-title">
        The Governance Data Alliance
      </h2>
      <p class="-highlighted">
        We're a group of NGOs, governments, firms, and donors who are serious about improving the quality, availability, breadth, and use of governance data. We identify and spread good practices for data production, we build feedback loops between data users and data producers, and we drive down the time and cost to produce data.
      </p>
      <a href="{{ site.baseurl }}/about" class="btn -white">find out more</a>  
    </div>
  </div>
</div>
