<div class="l-highlight distribuidorDestacado-About">
  <div class="wrap">
    <div class="m-presentation -light">
      <h2 class="c-title">
        About the Alliance
      </h2>
      <p class="-highlighted">
        We're a group of NGOs, governments, firms, and donors who are serious about improving the quality, availability, breadth, and use of governance data. We identify and spread good practices for data production, we build feedback loops between data users and data producers, and we drive down the time and cost to produce data.
      </p>
      <a href="{{ site.baseurl }}/about" class="btn -white">Learn more about the Alliance</a>
    </div>
  </div>
</div>
