<div class="m-post">

  <h1 class="c-section-title">
    {{ page.title }}
  </h1>

  {% unless page.image == '' %}
  <div class="image" style="background-image:url({{site.baseurl}}/css/img/blog/{{page.image}})"></div>
  {%endunless%}

  <div class="properties">
    <a class="category" href="{{site.baseurl}}/blog/categories#{{ page.category }}"> {{page.category}} </a>
    <div class="tags">
      {% for tag in page.tags %}
        <a class="c-tag" href="{{ site.baseurl }}/blog/tags#{{tag}}">#{{tag}}</a>
      {% endfor %}
    </div>
  </div>

  <div class="details">
    <span class="author">
      Author: {{ page.author }}
    </span>
    <span class="date">
      <time>{{ page.date | date: '%B %d, %Y'}}</time>
    </span>
  </div>

  <div class="content -empashis">
    {{page.content | markdownify}}
  </div>

</div>
