<div class="m-post">

  <h1 class="c-section-title">
    {{ page.title }}
  </h1>

  {% if page.image %}
  <div class="image" style="background-image:url({{site.baseurl}}/css/img/blog/{{page.image}})"></div>
  {%endif%}

  <div class="properties">
    <div class="category">
      <span> {{page.category}}</span>
    </div>
    <div class="tags">
      {% for tag in page.tags %}
      <a class="tag" href="{{site.baseurl}}/blog/tags#{{tag}}">#{{tag}}</a>
      {% endfor %}
    </div>
  </div>

  <div class="details">
    <span class="author">
      Author: {{ page.author }}
    </span>
    <span class="date">
      <time>{{ page.date | date: '%B %d, %Y'}}</time>
    </span>
  </div>

  <div class="content -empashis">
    {{page.content | markdownify}}
  </div>

</div>
