<div class="l-post {%if post.image%} -img {%endif%}" {%if post.image%} style="background-image:url(/{{post.image}})" {%endif%} >
  <div class="wrap">

    <div class="m-post -list">

      <div class="properties">
        <div class="category">
          <span> {{post.category}}</span>
        </div>
        <div class="tags">
          {% for tag in post.tags %}
          <span class="tag"> #{{tag}} </span>
          {% endfor %}
        </div>
      </div>

      <div class="details">
        <span class="author">
          Author: {{ post.author }}
        </span>
        <span class="date">
          <time>{{ post.date | date: '%B %d, %Y'}}</time>
        </span>
      </div>

      <div class="title">
        <h3>
          <a href="{{ site.baseurl }}/blog{{ post.url }}">{{ post.title }}</a>
        </h3>
      </div>

      <div class="content">
        {{post.excerpt}}
      </div>

    </div>

  </div>

</div>
