<div class="c-download">
  <div class="tabs-content content">
    <div class="content active" id="share-link">
      <p>For details on the data you are about to download, including a full description of the
      meta data and data fields used by Alliance data producers to share their data in a consistent and comparable manner, please <a href="{{siteURL}}/blog/2016/02/19/a-guide-to-the-data-available-on-the-governance-data-alliance-website.html" target="_blank">click here</a>.</p>
    </div>
  </div>

  <div class="buttons">
    <a href="{{csv}}" class="btn -secondary js--download-btn" download="data.csv">download</a>
    <a href="" class="btn js--cancel-btn">cancel</a>
  </div>
</div>
