<div class="menu-background"></div>
<div class="m-mobile-menu">
  <div class="btn-close -color-1 js--close-menu">×</div>
  <div class="scroll-wrapper">
    <nav class="m-site-navigation -header">
      <ul>
        <li class='link'><a href="/countries">Countries</a></li>
        <li class='link'><a href="/indicators">Data</a></li>
        <li class='link'><a href="/compare">Compare</a></li>
        <li class='link'><a href="/about">About</a></li>
        <li class='link'><a href="/blog/">Blog</a></li>
      </ul>
    </nav>

    <div class="m-social-share -header">
      <ul>
        <li class="icon -twitter">
          <a href="https://twitter.com/@GovDataAlliance">
            <svg class="icon">
              <use xlink:href="#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <!-- <li class="icon -facebook">
          <a href="https://www.facebook.com">
            <svg class="icon">
              <use xlink:href="#icon-facebook"></use>
            </svg>
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</div>
