<div class="m-modal-window">
  <div class="modal-wrapper">
    <div class="btn-close-modal close-icon">×</div>
    <div class="modal-container">
      <p>{{{info}}}</p>
    </div>
  </div>
  <div class="modal-background"></div>
</div>
