<div class="m-modal-window">
  <div class="modal-wrapper">
    <div class="btn-close-modal close-icon">×</div>
    <div class="modal-container">
      <div class="modal-content">
        <p>{{{info}}}</p>
      </div>
    </div>
  </div>
  <div class="modal-background"></div>
</div>
