<input id="searchMap" placeholder="Search country" type="search">
<svg class="icon-search">
  <use xlink:href="#icon-search"></use>
</svg>
<div class="search-box" id="searchContent">
  <div id="search-tpl">
    <div class="search-content">
      <div class="search-result"></div>
      <div class="search-suggestions"></div>
    </div>
  </div>
</div>
