<div class="m-share-window">
  <h2>Share</h2>
  <div class="share-toolbar">
    <!-- share -->
    <button class="btn js--share ">
      <svg class="icon -regular">
        <use xlink:href="#icon-share"></use>
      </svg>
      <span class="button-literal">share</span>
    </button>

    <!-- download -->
    <button class="btn js--download">
      <svg class="icon -regular">
        <use xlink:href="#icon-download"></use>
      </svg>
      <span class="button-literal">download data</span>
    </button>

    <!-- print -->
    <button class="btn js--print">
      <svg class="icon -regular">
        <use xlink:href="#icon-print"></use>
      </svg>
      <span class="button-literal">print</span>
    </button>
  </div>
  <div id="toolbar-content"></div>
</div>
