<div class="c-share">
  <div class="content active" id="share-link">
    <p>Copy the link below to share it</p>
    <div class="link-box">
      <input class="url" value="{{link}}" />
      <div class="btn -secondary btn-copy">Copy</div>
    </div>
  </div>

  <div class="m-social-share -share-window">
    <ul>
      <li>
        <div class="btn-social twitter">
          <a class="icon -twitter" href="https://twitter.com/share?url={{link}}" target="_blank">
            <svg class="icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use>
            </svg>
          </a>
        </div>
      </li>
      {{!-- <li>
        <div class="btn-social facebook">
        <a href="https://www.facebook.com/sharer.php?u={{link}}" target="_blank">
          <svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use>
          </svg>
        </a>
        </div>
      </li> --}}
    </ul>
  </div>
</div>
