<div class="m-controls">
  <button class="js--download btn">
    <svg class="icon -regular">
      <use xlink:href="#icon-download"></use>
    </svg>
    <span class="button-literal">download</span>
  </button>
  <span class="separate"> | </span>
  {{#if isCountry}}
    <a href="compare#countries[]={{iso}}" class="btn compare-link">
      <svg class="icon -regular">
        <use xlink:href="#icon-compare"></use>
      </svg>
      <span class="button-literal">compare countries</span>
    </a>
    <span class="separate"> | </span>
  {{/if}}
  <button class="js--print btn">
    <svg class="icon -regular">
      <use xlink:href="#icon-print"></use>
    </svg>
    <span class="button-literal">print</span>
  </button>
  <span class="separate"> | </span>
  <button class="js--share btn">
    <svg class="icon -regular">
      <use xlink:href="#icon-share"></use>
    </svg>
    <span class="button-literal">share</span>
  </button>
</div>
